<div class="box">
    <div class="box-content">
        <div class="text-center">
            <h3 class="page-header">Profile</h3>
        </div>

        <div class="fos_user_user_show">
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        </div>
    </div>
</div>
