{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

    <div class="content-view-full">
        <div class="content-type-folder">
            <div class="attribute-title">
                <h2>
                    Search returned {{ pager|length() }} results
                </h2>
            </div>

            <div class="attribute-search-results">
                {% if pager|length() > 0 %}
                    <section class="content-view-children">
                        {% for item in pager %}
                            {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': item.contentInfo.mainLocationId, 'viewType': 'line'} ) ) }}
                        {% endfor %}
                    </section>

                    {% if pager.haveToPaginate() %}
                        <div class="pagination-centered">
                            {{ pagerfanta( pager, 'twitter_bootstrap_translated', {'routeName': location} ) }}
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
