{# XPL_mod #}
<script type="text/javascript">
    /* {# ANGULAR START #} */
    xs_angular_app.controller('SignupCtrl', ["$scope", "$rootScope", "$http", "$window", "XSstorage", function ($scope, $rootScope, $http, $window, XSstorage) {  //variables have to be defined before function, in the same order as in function

        /*  //Sample setting of properties in xsmtpdk cookie object
         XSstorage.set('acti',false);
         //console.debug(XSstorage.get('bibi2'));
         */


        //Get the current language from twig ...
        switch ('{{ app.request.locale }}') {
            case 'eng_GB' :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
                break;
            case 'dan_DK' :
                $scope.currency = 'dkk';
                $scope.language = 'dan_DK'
                break;
            default :
                $scope.currency = 'eur';
                $scope.language = 'eng_GB';
        }

        $scope.test_account_redirect = false
        $scope.ajaxLoadCount = 2; //the number of AJAX get's before the page can be started (xs_wizard_init)
        $scope.tempKonto = XSstorage.get('inputKonto');
//    if($scope.tempKonto)$scope.tempKonto.captcha=""; //Clear the capthca if it is storad in the cookie, as it was already regenerated upon page refresh
        //Get the current chosen subscription from the XSstorage
        $scope.cbss = XSstorage.get('chosen_subsc');
        $scope.chosen_gratis = XSstorage.get('chosen_gratis');
        $scope.buffer_emails = XSstorage.get('chosen_buffer_emails');
        if (!$scope.buffer_emails)$scope.buffer_emails = {no_relays: 0, eur: 0, dkk: 0};

        $scope.SubscriptionUpgradesCount = 0;
        var wizardPrevalidate = false;
        if (!$scope.tempKonto) $scope.tempKonto = {};
        else wizardPrevalidate = true; //enable prevalidate, so that a wizard validation will be triggered if tempKonto data is available, so no need to click TWICE on SEND button
        console.debug("Cached inputKonto values below:");
        console.debug($scope.tempKonto);

        $scope.subscriptionUpgrades = [];
        //Get the json from web (upgrade subscriptions related to the cbss)
        $http.get('xsmtpdk/api/getsubscriptionupgrades/base_shared/' + $scope.cbss.suid + '/upgrade_shared').then(function (res) {

            $scope.subscriptionUpgrades = res.data.responsevalue;
            //Set the storage property SubscriptionUpgradesCount (based on how many SubscriptionUpgrades are available)
            $scope.SubscriptionUpgradesCount = Object.keys($scope.subscriptionUpgrades).length;
            XSstorage.set('SubscriptionUpgradesCount', $scope.SubscriptionUpgradesCount);

            //decrement ajaxLoadCount and launch the wizard initialisation if 0
            $scope.ajaxLoadCount--;
            if ($scope.ajaxLoadCount <= 0) {
                xs_wizard_init();
                if (wizardPrevalidate)$('#testForm').jqxValidator('validate');
            }

        });

        //Get the json from web (bufferEmails)
        $http.get('xsmtpdk/api/getbufferemails').then(function (res) {

            $scope.bufferEmailsList = res.data.responsevalue;
            //prepare the arrays for the slider
            var bufferValues = [];
            var bufferPrices = [];
            for (var prop in $scope.bufferEmailsList) {
                $scope.bufferEmailsList[prop].no_relays = parseInt($scope.bufferEmailsList[prop].no_relays);
                bufferValues.push($scope.bufferEmailsList[prop].no_relays);
                bufferPrices.push($scope.bufferEmailsList[prop][$scope.currency]);
            }
            //init the slider
            xs_bufferslider_init(bufferValues, bufferPrices, $scope.buffer_emails.no_relays);

            //decrement ajaxLoadCount and launch the wizard initialisation if 0
            $scope.ajaxLoadCount--;
            if ($scope.ajaxLoadCount <= 0) {
                xs_wizard_init();
                if (wizardPrevalidate)$('#testForm').jqxValidator('validate');
            }
            /*  */

        });

        //function to save the selected base_shared subscription into the cookie
        $scope.storeXSKonto = function (tempKonto) {
            XSstorage.set('inputKonto', tempKonto);
            //IF the jqxvalidation is ok, then go ahead and sumbit the request to the server API
            var tempKontoValidationResult = $('#testForm').jqxValidator('validate');

            if (tempKontoValidationResult) {
                $http.get('/xsmtpdk/api/sendcaptcha?response=' + $('#g-recaptcha-response').val())
                        .success(function (data) {
                            if (data.success == true) {
                                $scope.submit();
                            }
                        });
            }
            ;
        };
        //function to save the selected base_shared subscription into the cookie
        $scope.storeXSsubscriptionUpgrade = function (asubscu) {
            XSstorage.set('chosen_upgrade_subsc', asubscu);
            //$scope.$broadcast('updateSimpleBanner');
            $rootScope.UpdateBanner();
        };

        //function to save the selected base_shared subscription into the cookie
        $scope.storeXSmailBuffer = function (relays) {
            if (relays) {
                XSstorage.set('chosen_buffer_emails', $scope.storeXSmailBuffer[relays]);
                $scope.buffer_emails = $scope.bufferEmailsList[relays];
            }
            else {
                XSstorage.remove('chosen_buffer_emails');
                $scope.buffer_emails = {no_relays: 0, eur: 0, dkk: 0};
            }
            $rootScope.UpdateBanner();
        };

        //Live update of buffer_emails model
        $scope.$watch('buffer_emails_value', function (newValue, oldValue) {
            if (newValue != oldValue) {
                XSstorage.set('chosen_buffer_emails', $scope.bufferEmailsList[newValue]);
                $scope.buffer_emails = $scope.bufferEmailsList[newValue];
                $rootScope.UpdateBanner();
            }
        }, true);

        $scope.submit = function () {

            //Retrieve all stored data about chosen subscription, upgrades, and buffer_emails
            temp_cbss = XSstorage.get('chosen_subsc');
            temp_cuss = XSstorage.get('chosen_upgrade_subsc');
            temp_cbe = XSstorage.get('chosen_buffer_emails');
            if (!temp_cbss)temp_cbss = {suid: false};
            if (!temp_cuss)temp_cuss = {suid: false};
            if (!temp_cbe)temp_cbe = {no_relays: false};


            userData = {
                login: $scope.tempKonto.adminEmail,
                email: $scope.tempKonto.adminEmail,
                initial_admin_email: $scope.tempKonto.adminEmail,
                password: $scope.tempKonto.password,
                first_name: $scope.tempKonto.firstName,
                last_name: $scope.tempKonto.lastName,
                postal_code: $scope.tempKonto.postcode,
                address: $scope.tempKonto.address,
                company: $scope.tempKonto.company,
                city: $scope.tempKonto.city,
                country: $scope.tempKonto.country,
                telephone: $scope.tempKonto.phone,
                vat: $scope.tempKonto.vat,
                lang: $scope.language
            };
            subscriptionData = {
                base_type: "base_shared",
                upgrade_type: "upgrade_shared",
                base_suid: temp_cbss.suid,
                upgrade_suid: temp_cuss.suid,
                buffer_emails_relays: temp_cbe.no_relays

            };
            paymentData = {
                currency: $scope.currency,
                payment_method: 'epay'
            }

            $scope.ajaxLoadCount = 2;
            //Create the Free Test User
            if ($scope.chosen_gratis) {
                //parameter , captcha: $scope.tempKonto.captcha
                $http.post('xsmtpdk/api/createuser', angular.toJson({userdata: userData})).then(function (res) {
                    console.debug(res.data);
                    $scope.ajaxLoadCount--;
                    //Create the subscription for the user
                    $http.post('xsmtpdk/api/goodness', angular.toJson({
                        login: userData.login,
                        subscriptiondata: subscriptionData
                    })).then(function (res) {
                        console.debug(res.data);
                        $scope.test_account_redirect = true
                        //$scope.ajaxLoadCount--;
                    });
                });
                //Otherwise if there is a paid account, then create its order
            } else {
                //parameter captcha: $scope.tempKonto.captcha,
                $http.post('xsmtpdk/api/createorderpending', angular.toJson({
                    userdata: userData,
                    subscriptiondata: subscriptionData,
                    paymentdata: paymentData
                })).then(function (res) {
                    var status = res.data.responsevalue.status;
                    $scope.ajaxLoadCount--;
                    if (status == 'OK') {
                        var orderid = res.data.responsevalue.orderid;
                        console.info('New pending order ID: ' + orderid);
                        $http.get('xsmtpdk/api/getorderpending/' + orderid).then(function (res) {
                            $scope.orderpending = res.data.responsevalue
                            $scope.server_userdata = $scope.orderpending.embedded_data.userdata
                            $scope.server_subscriptiondata = $scope.orderpending.embedded_data.subscriptiondata
                            $scope.server_cmp_subsc = $scope.orderpending.compound_subscription
                            $scope.ajaxLoadCount--;
                        });
                    }
                });
            }

            //Clear the adminemail_status (so it would just have to be rechecked on second "SEND"....)
            wizard.adminemail_status = "clear";
//        wizard.captcha_status="clear";

            //

            //Enable the payment/confirmation tab, and disable all the other tabs
            $('#jqxTabs').jqxTabs('disableAt', 0);
            $('#jqxTabs').jqxTabs('disableAt', 1);
            $('#jqxTabs').jqxTabs('disableAt', 2);
            $('#jqxTabs').jqxTabs('enableAt', 3);
            //Advance to the payment/confirmation tab
            $('#jqxTabs').jqxTabs('next');

        }
        /////////////////////////////////////////
        $scope.enableTabsPreconfirm = function () {
            $('#jqxTabs').jqxTabs('enableAt', 0)
            $('#jqxTabs').jqxTabs('enableAt', 1)
            $('#jqxTabs').jqxTabs('enableAt', 2)
            $('#jqxTabs').jqxTabs('disableAt', 3)
            if (XSstorage.get('chosen_gratis')) {
                //If we have a gratis subscription then disable the firtst 2 tabs, and hide the back button from the "Account Information" tab
                $('#jqxTabs').jqxTabs('disableAt', 0)
                $('#jqxTabs').jqxTabs('disableAt', 1)
                $('#backButtonReview').hide()
            }
            if (XSstorage.get('SubscriptionUpgradesCount') == 0) {
                //If we have no subscription upgrades, then disable tab1
                $('#jqxTabs').jqxTabs('disableAt', 1)

            }
        }
        /////////////////////////////////////////
        $scope.backButtonCancel = function () {
            //Enable the payment/confirmation tab, and disable all the other tabs
            $scope.enableTabsPreconfirm()
            //Advance to the payment/confirmation tab
            $('#jqxTabs').jqxTabs('previous')
        }
        /////////////////////////////////////////
        $scope.ePayWindowOpen = function () {
            //Inject the settings object directly from the value provided by controller (serverside)
            $scope.epaywindow = new PaymentWindow($scope.orderpending.epay_values)
            $scope.epaywindow.open();
        }
        /////////////////////////////////////////
        //watch for test_account_redirect, when it becomes true, then redirect
        $scope.$watch('test_account_redirect', function (value) {
            console.log(value);
            if (value)$window.location = '/gratis_account';
        });
    }]);


    /* {# ANGULAR STOP #} */
</script>
<script type="text/javascript">

    /* {# WIZARD GLOBAL VARIABLES START #} */
    var wizard = null;
    var xs_wizard_init = function () {
        if (typeof wizard == "object") {
            wizard.init();
            wizard.adminemail_status = "clear";
            wizard.adminemail_value = "";
//                  wizard.captcha_status="clear";
//                  wizard.captcha_value="";
            $('#jqxWidget').css('visibility', 'visible');
        } else $(document).ready(function () {
            wizard.init();
            wizard.adminemail_status = "clear";
            wizard.adminemail_value = "";
//                  wizard.captcha_status="clear";
//                  wizard.captcha_value="";
            $('#jqxWidget').css('visibility', 'visible');
        });
    }

    /* {# WIZARD GLOBAL VARIABLES STOP #} */

    $(document).ready(function () {

        /*
        {# DRAG SLIDER START #} */
        //  http://loopj.com/jquery-simple-slider/
        ///XPL_PATCH function that adds tooltip to the simple_slider


        ////////////////////
        /*
         $("#drag-slider-1").xpl_slider_mod({
         allowedValues	: [1000, 5000, 15000],
         priceValues	: [20, 40, 60],
         //step	: 5000,
         //snap	: false,
         });
         */
        /*
         $("#drag-slider-2").xpl_slider_mod({
         range	: [0,15000],
         step	: 250,
         snap	: false,
         });
         */
        /*
        {# DRAG SLIDER STOP #} */

        /*
        {# jqxvalidator  START #}*/
        // $("#register").jqxExpander({ toggleMode: 'none', width: 'auto', showArrow: false });
        $('#sendButton').jqxButton({});
        //$('#acceptInput').jqxCheckBox({ width: 130 });

        //On clicking the send form, then validate
        $('#sendButton').on('click', function () {
            $('#testForm').jqxValidator('validate');
        });
        //On clicking the back button from the form, then hide all validation hints (tooltips)
        $('#backButtonReview').on('click', function () {
            $('#testForm').jqxValidator('hide');
        });

        $('#countryInput').on('change', function () {
            if (parseInt($('option[value="' + $(this).val() + '"]').data('europe')) === 1) {
                $('#vatWrapper').removeClass('hide');
            } else {
                $('#vatWrapper').addClass('hide');
                $('#vatInput').val('');
            }
        });
        if (parseInt($('option[value="' + $('#countryInput').val() + '"]').data('europe')) === 1) {
            $('#vatWrapper').removeClass('hide');
        }

        //$("#ssnInput").jqxMaskedInput({ mask: '###-##-####', width: 150, height: 22  });
        //$("#phoneInput").jqxMaskedInput({ mask: '(###)###-####', width: 150, height: 22  });
        //$("#zipInput").jqxMaskedInput({ mask: '#####-####', width: 150, height: 22  });

        $('.text-input').jqxInput({});

        //$('#birthInput').jqxDateTimeInput({ width: 150, height: 22, value: new Date(2014, 4, 1) });

        // initialize validator.
        $('#testForm').jqxValidator({
            rules: [
                // new
                {input: '#firstNameInput', message: 'First Name is required!', action: 'keyup, blur', rule: 'required'},
                {
                    input: '#firstNameInput',
                    message: 'Your First Name must be between 3 and 12 characters!',
                    action: 'keyup, blur',
                    rule: 'length=3,12'
                },
                {input: '#lastNameInput', message: 'Last Name is required!', action: 'keyup, blur', rule: 'required'},
                {
                    input: '#lastNameInput',
                    message: 'Your Last Name must be between 3 and 12 characters!',
                    action: 'keyup, blur',
                    rule: 'length=3,12'
                },
                {input: '#addressInput', message: 'Address is required!', action: 'keyup, blur', rule: 'required'},
                {
                    input: '#addressInput',
                    message: 'Address  must be between 5 and 80 characters!',
                    action: 'keyup, blur',
                    rule: 'length=5,80'
                },
                {input: '#postcodeInput', message: 'Postcode is required!', action: 'keyup, blur', rule: 'required'},
                {input: '#cityInput', message: 'City is required!', action: 'keyup, blur', rule: 'required'},
                {input: '#countryInput', message: 'Country is required!', action: 'keyup, blur', rule: 'required'},
                {input: '#adminEmailInput', message: 'E-mail is required!', action: 'keyup, blur', rule: 'required'},
                {input: '#adminEmailInput', message: 'Invalid e-mail!', action: 'keyup', rule: 'email'},
                {
                    input: '#adminEmailInput',
                    message: 'This admin email is being checked ...',
                    action: 'keyup, focus',
                    rule: function (input, commit) {
                        // call commit with false, when you are doing server validation and you want to display a validation error on this field.
                        var input_value = input.val();
                        if (input_value.length < 3) return true;
                        //If the wizard.adminemail_status is pending then return false (to display the checked... message)
                        else if (wizard.adminemail_status == 'pending')return false;
                        //If the wizard.adminemail_value corresponds with the current input, return true if it is checked_true or checked_false (in order to proceed to the next validation message)
                        else if (input_value == wizard.adminemail_value && wizard.adminemail_status == 'checked_free')return true;
                        else if (input_value == wizard.adminemail_value && wizard.adminemail_status == 'checked_exists')return true;
                        else { //Enter this branch when the input does not match the checked email on server, and then proceed to a server query
                            wizard.adminemail_status = "pending";
                            //Make a query for the user
                            var jsonResponse = $.ajax({
                                url: "/xsmtpdk/api/userexists/" + input.val(),
                                type: "GET",
                                async: true
                            }).done(function (jsonData) {
                                var ret = $.parseJSON(jsonData);
                                if (ret.responsevalue == 'no') {
                                    wizard.adminemail_status = 'checked_free';
                                    wizard.adminemail_value = ret.reqname;
                                } else {
                                    console.debug("Admin email already exist: " + jsonData);
                                    wizard.adminemail_status = 'checked_exists';
                                    wizard.adminemail_value = ret.reqname;
                                }
                                //Launch the validation of this input field now, in order to display that the email is used (in case responsevalue is yes)
                                $('#testForm').jqxValidator('validateInput', '#adminEmailInput');
                            });
                            commit(false);
                            //return false;
                        }
                    }
                },
                {
                    input: '#adminEmailInput',
                    message: 'This admin email is already used on server !',
                    action: 'keyup, focus',
                    rule: function (input, commit) {
                        if (input.val().length < 3) return true;
                        // call commit with false, when you are doing server validation and you want to display a validation error on this field.
                        // Display the error message (via return false) in case the input value and the adminemail_status is checked_exists
                        if (input.val() === wizard.adminemail_value && wizard.adminemail_status == 'checked_exists')return false;
                        else return true;
                    }
                },

                {
                    input: '#adminEmailConfirmInput',
                    message: 'Confirm E-mail is required!',
                    action: 'keyup, blur',
                    rule: 'required'
                },
                {input: '#adminEmailConfirmInput', message: 'Invalid e-mail!', action: 'keyup', rule: 'email'},
                {
                    input: '#adminEmailConfirmInput',
                    message: 'Emails don\'t match!',
                    action: 'keyup, focus',
                    rule: function (input, commit) {
                        // call commit with false, when you are doing server validation and you want to display a validation error on this field.
                        if (input.val() === $('#adminEmailInput').val()) {
                            return true;
                        }
                        return false;
                    }

                },
                {input: '#passwordInput', message: 'Password is required!', action: 'keyup, blur', rule: 'required'},
                {
                    input: '#passwordInput',
                    message: 'Your password must be between 4 and 12 characters!',
                    action: 'keyup, blur',
                    rule: 'length=4,12'
                },
                {
                    input: '#passwordConfirmInput',
                    message: 'Password is required!',
                    action: 'keyup, blur',
                    rule: 'required'
                },
                {
                    input: '#passwordConfirmInput',
                    message: 'Passwords don\'t match!',
                    action: 'keyup, focus',
                    rule: function (input, commit) {
                        // call commit with false, when you are doing server validation and you want to display a validation error on this field.
                        if (input.val() === $('#passwordInput').val()) {
                            return true;
                        }
                        return false;
                    }
                },
//                    { input: '#captchaInput', message: 'The captcha code is required !', action: 'keyup, blur', rule: 'required' },
//                    { input: '#captchaInput', message: 'The captcha code must have 6 characters!', action: 'keyup, blur', rule: 'length=6,6' },
//                    {
//                        input: '#captchaInput', message: 'This captcha code is being checked ...', action: 'keyup, focus', rule: function (input, commit) {
                // call commit with false, when you are doing server validation and you want to display a validation error on this field.
//                        var input_value = input.val();
//                        if (input_value.length!=6) return true;
                //If the wizard.captcha_status is pending then return false (to display the checked... message)
//                        else if (wizard.captcha_status == 'pending' )return false;
                //If the wizard.captcha_value corresponds with the current input, return true if it is checked_true or checked_false (in order to proceed to the next validation message)
//                        else if ( input_value == wizard.captcha_value && wizard.captcha_status == 'checked_valid' )return true;
//                        else if ( input_value == wizard.captcha_value && wizard.captcha_status == 'checked_wrong' )return true;
//                        else{ //Enter this branch when the input does not match the checked captchacode on server, and then proceed to a server query
//                            wizard.captcha_status = "pending";
                //Make a query for the user
//                            var jsonResponse = $.ajax({
//                                url: "/xsmtpdk/api/verifycaptchacode/"+input.val(),
//                                type: "GET",
//                                async: true
//                            }).done(function(jsonData){
//                                var ret = $.parseJSON(jsonData);
//                                if(ret.responsevalue == 'yes'){
//                                    wizard.captcha_status = 'checked_valid';
//                                    wizard.captcha_value = ret.reqname;
//                                }else{
//                                    console.debug("Captcha code is wrong: "+jsonData);
//                                    wizard.captcha_status = 'checked_wrong';
//                                    wizard.captcha_value = ret.reqname;
//                                }
                //Launch the validation of this input field now, in order to display that the captchacode is wrong (in case responsevalue is no)
//                                $('#testForm').jqxValidator('validateInput', '#captchaInput');
//                            });
//                            commit(false);
                //return false;
//                        }
//                    }
//                    },
//                    {
//                        input: '#captchaInput', message: 'This captcha code is wrong !', action: 'keyup, focus', rule: function (input, commit) {
//                        if (input.val().length<3) return true;
//                        call commit with false, when you are doing server validation and you want to display a validation error on this field.
//                        Display the error message (via return false) in case the input value and the captcha_status is checked_exists
//                        if ( input.val() === wizard.captcha_value && wizard.captcha_status == 'checked_wrong' )return false;
//                        else return true;
//                    }
//                    }
            ],

        });
        /*
        {# jqxvalidator STOP #} */

        /*
        {# Wizard START #} */
        //Creating wizard module
        wizard = (function () {

            //Adding event listeners
            var _addHandlers = function () {
                /*    $('#usernameInput').keyup(function () {
                 wizard.validate(true);
                 });
                 $('#usernameInput').change(function () {
                 wizard.validate(true);
                 });
                 $('#usernameInput').change(function () {
                 wizard.validate(true);
                 });
                 $('#passwordInput').keyup(function () {
                 wizard.validate(true);
                 });*/
                $('.nextButton').click(function () {
                    wizard.validate(true);
                    $('#jqxTabs').jqxTabs('next');
                });
                /* add class to next button
                 $('.nextButton').addClass( "btn btn-lg btn-primary" );
                 end add class */
                $('.backButton').click(function () {
                    wizard.validate(true);
                    $('#jqxTabs').jqxTabs('previous');
                });
                /*  $('#acceptCheckBox').on('change', function (event) {
                 wizard.validate(true);
                 });*/
                /*  $('#products').on('change', function (event) {
                 wizard.validate(true);
                 var selectedItems = $('#products').jqxListBox('selectedIndexes'),
                 count = selectedItems.length;
                 $('#orderContainer').children().remove();
                 while (count) {
                 count--;
                 if (typeof selectedItems[count] !== 'undefined' &&
                 selectedItems[count] !== -1) {
                 $('#orderContainer').prepend('<div style="width: 190px; height: 20px;">' + wizard.config.source[selectedItems[count]].html + '</div>');
                 }
                 }
                 });*/
                /* $('#products').on('unselect', function (event) {
                 wizard.validate(true);
                 });*/
            };

            //Checking if any product have been selected
            var _isItemSelected = function (array) {
                var count = array.length;
                if (count === 0) {
                    return false;
                }
                while (count) {
                    count -= 1;
                    if (array[count] !== -1 &&
                            typeof array[count] !== 'undefined') {
                        return true;
                    }
                }
                return false;
            };

            return {

                //Listbox's source
                config: {
                    source: [
                        {
                            html: "<div ><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/numberinput.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxNumberInput</span></div>",
                            title: 'jqxNumberInput'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/progressbar.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxProgressBar</span></div>",
                            title: 'jqxProgressBar'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/calendar.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxCalendar</span></div>",
                            title: 'jqxCalendar'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/button.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxButton</span></div>",
                            title: 'jqxButton'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/dropdownlist.png'/><span style='none: none; font-size: 13px; font-family: Verdana Arial;'>jqxDropDownList</span></div>",
                            title: 'jqxDropDownList'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/listbox.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxListBox</span></div>",
                            title: 'jqxListBox'
                        },
                        {
                            html: "<div><img style='float: none; margin-top: 2px; margin-right: 5px;' src='../../images/tooltip.png'/><span style='float: none; font-size: 13px; font-family: Verdana Arial;'>jqxTooltip</span></div>",
                            title: 'jqxTooltip'
                        }
                    ]
                },

                //Initializing the wizzard - creating all elements, adding event handlers and starting the validation
                init: function () {
                    $('#jqxTabs').jqxTabs({scrollable: false});
                    var scrollable = $('#jqxTabs').jqxTabs('scrollable');
                    // alert (scrollable);
                    //$('#jqxTabs').jqxTabs({ keyboardNavigation: false });
                    // $('#acceptCheckBox').jqxCheckBox({ width: 250});
                    $('#nextButtonInfo').jqxButton({});
                    $('#nextButtonMailBufferClear').jqxButton({});
                    $('#nextButtonBasket').jqxButton({});
                    $('#backButtonBasket').jqxButton({});
                    $('#backButtonReview').jqxButton({});
                    // $("#products").jqxListBox({ source: this.config.source, width: '490px', height: '130px',  multiple: true });
                    _addHandlers();
                    this.validate();
                    this.showHint('Validation hints.');

                    /*
                     //Access angular XSstorage service and check if we have a gratis subscription
                     angular.injector(['ng', 'xsmtpdk']).invoke(function (XSstorage) {
                     if(XSstorage.get('chosen_gratis')){
                     //If we have a gratis subscription then disable the firtst 2 tabs, and hide the back button from the Kontakt tab
                     $('#jqxTabs').jqxTabs('disableAt', 0);
                     $('#jqxTabs').jqxTabs('disableAt', 1);
                     $('#backButtonReview').hide();
                     }
                     if(XSstorage.get('SubscriptionUpgradesCount') == 0){
                     //If we have no subscription upgrades, then disable tab1
                     $('#jqxTabs').jqxTabs('disableAt', 1);

                     }


                     }); */
                    //Enable the tabs before the Payment/Confirm tab according to clauses (directly from angular controller)
                    var scope = angular.element(document.getElementById("jqxWidget")).scope()
                    scope.enableTabsPreconfirm()

                    //\\//
                },

                //Validating all wizard tabs
                validate: function (notify) {
                    /*
                     if (!this.firstTab(notify)) {
                     $('#jqxTabs').jqxTabs('disableAt', 1);
                     $('#jqxTabs').jqxTabs('disableAt', 2);
                     return;
                     } else {
                     $('#jqxTabs').jqxTabs('enableAt', 1);
                     }
                     if (!this.secondTab(notify)) {
                     $('#jqxTabs').jqxTabs('disableAt', 2);
                     return;
                     } else {
                     $('#jqxTabs').jqxTabs('enableAt', 2);
                     }
                     */
                },

                //Displaying message to the user
                showHint: function (message, selector) {
                    if (typeof selector === 'undefined') {
                        selector = '.hint';
                    }
                    if (message === '') {
                        message = 'You can continue.';
                    }
                    $(selector).html('<strong>' + message + '</strong>');
                },

                //Validating the first tab
                firstTab: function (notify) {
                    /* var username = $('#usernameInput').val(),
                     password = $('#passwordInput').val(),
                     message = '';
                     if (username.length < 3) {
                     message += 'You have to enter valid username. <br />';
                     }
                     if (password.length < 3) {
                     message += 'You have to enter valid password. <br />';
                     }
                     if (!$('#acceptCheckBox').jqxCheckBox('checked')) {
                     message += 'You have to accept the terms. <br />';
                     }
                     if (message !== '') {
                     if (notify) {
                     this.showHint(message, '#hintSection');
                     }
                     return false;
                     }
                     this.showHint('You can continue.', '#hintSection');*/
                    return true;
                },

                //Validating the second tab
                secondTab: function () {
                    /*  var products = $('#products').jqxListBox('selectedIndex');
                     if (!_isItemSelected($('#products').jqxListBox('selectedIndexes'))) {
                     this.showHint('You have to select at least one item.', '#hintBasket');
                     return false;
                     } else {
                     this.showHint('You can continue.', '#hintBasket');
                     }*/
                    return true;
                }
            }
        }());

        //Initializing the wizard (DEFERRED TO ANGULAR)
        //wizard.init();
        /*
        {# Wizard STOP #} */
    });

</script>
<style type="text/css">
    .wizard_tab_1 {
        background: rgba(255, 255, 255, 0.8);
    }

    .wizard_tab_2 {
        background: rgba(255, 255, 255, 0.6);
    }

    .wizard_tab_3 {
        background: rgba(255, 255, 255, 0.4);
    }

    .wizard_tab_4 {
        background: rgba(255, 255, 255, 0.2);
    }

    .jqx-tabs-title-selected-top {
        background: rgba(255, 255, 255, 1) !important;
        font-weight: bold;
    }

    /* #form
    {
       height: 100px;
        float: left;
        margin-top: 30px;
        margin-left: 20px;
    }
    .inputContainer
    {
        width: 150px;
    }
    .formInput
    {
        width: 150px;
        outline: none;
    }
    #hintWrapper
    {
        height: 130px;
        float: right;
    }
    #hintSection
    {
        float: left;
        margin-top: 30px;
        margin-right: 20px;
        padding: 5px;
        width: 225px;
    }
    #checkBoxWrapper
    {
        float: left;
        margin-left: 20px;
        margin-top: 30px;
        border:#000 1px solid;
    }
    #section
    {
        margin: 5px;
    }
    #sectionButtonsWrapper
    {
        float: right;
        margin-top: 30px;
        margin-right: 10px;
        width: 115px;
    }
    #hintBasket
    {
        margin-left: 20px;
        margin-top: 7px;
        float: left;
        padding: 5px;
    }
    .basket div
    {
        position: relative;
    }
    .nextButton
    {
        float: right;
        margin-left: 0px;
    }
    .backButton
    {
        float: left;
        margin-left: 10px;
    }
    #basketButtonsWrapper
    {
        float: right;
        margin-top: 30px;
        margin-right: 10px;
        width: 115px;
    }
    #selectedProductsHeader
    {
        margin-left: 20px;
        float: left;
        width: 200px;
    }
    #selectedProductsButtonsWrapper
    {
        float: right;
        margin-right: 10px;
        width: 115px;
        margin-top: 160px;
    }
    #products
    {
        border: none;
    }*/
</style>
<div id='jqxWidget' ng-controller="SignupCtrl" style="visibility: hidden;">
    <div id='jqxTabs'>
        <ul>

            <li class="wizard_tab_1" style="background:rgba(255,255,255,0.8)" ;>Buffer E-mails</li>
            <li class="wizard_tab_2"
                style="background:rgba(255,255,255,0.6);">{{ 'subscription period'|trans|capitalize }}</li>
            <li class="wizard_tab_3"
                style="background:rgba(255,255,255,0.4);">{{ 'account information'|trans|capitalize }}</li>
            <li class="wizard_tab_4" style="background:rgba(255,255,255,0.2);">{{ 'payment'|trans|capitalize }}</li>

        </ul>
        <div class="section">

            <div id="form">
                <div class="inputContainer">
                    <div class="row" style="padding:3em 0 3em 3em;">
                        <div class="col-lg-5">
                            <h2>Tilkøb buffer E-mails til dit abonnement</h2>

                            <p>Hvis du en gang imellem har brug for at sende flere mails end
                                dem du har til rådighed dagligt ( f.eks 75 daglige emails) fordi
                                der skal sendes et nyhedsbrev eller lignende til din mailing liste,
                                så kan du tilkøbe buffer emails her.</p>

                            <p>Buffer emails virker på den måde, at hvis du har sendt alle dine
                                til rådighed 75 emails eller flere alt efter abonnementstype
                                (nulstilles hver dag kl 00.00), så vil de følgende emails 76, 77,
                                78 osv bliver sendt automatisk via dine buffer emails. Det giver
                                en sikkerhed for aldrig at løbe tør.</p>

                            <p>Du kan til enhver tid logge ind på din konto og tilkøbe buffer
                                emails hvis du ikke ønsker at tilkøbe lige nu…</p>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6" style="padding-top:10em;">
                            <input type="text" id="drag-slider-1" value="0" data-currency="{{ 'eur' | trans | upper }}">
                            <input type="text" ng-model="buffer_emails_value" id="buffer_emails_value"
                                   style="display: none;">
                        </div>
                    </div>
                </div>

                <div style="clear:both"></div>

            </div>

            <div style="clear:both; height:20px;"></div>
            <div id="sectionButtonsWrapper" style="text-align:center;">
                <input type="button" value="&lsaquo;&lsaquo; BACK"
                       class="backButton btn-lg btn-primary-back jqx-button " id=""
                       style="font-weight:lighter; line-height:30px;"/>
                <input type="button" ng-click="storeXSmailBuffer(false)" value="NO THANK YOU  &rsaquo;&rsaquo;"
                       style="font-weight:lighter; line-height:30px;"
                       class="nextButton btn-lg btn-primary-back jqx-button"
                       id="nextButtonMailBufferClear"/> {# clears the selection at this step #}
                <input type="button" value="NEXT &rsaquo;&rsaquo;" class="nextButton btn-lg btn-primary jqx-button"
                       id="nextButtonInfo" style="font-weight:lighter; line-height:30px;"/>
            </div>
            <div style="clear:both; height:20px;"></div>

        </div>
        <div class="section">


            <div class="row" style="padding:3em 0 3em 3em">
                <div class="col-lg-3">
                    <h2>Forlæng og spar op til 40%</h2>

                    <p>Hvis du allerede nu tegner abonnement for 2 eller 3 år kan du spare
                        op til 40% i forhold til fornyelse hvert år.</p>

                    <p>
                        Du kan selvfølgelig også fornye årligt og opsige abonnementet når du
                        ikke har behov for det længere.</p>
                </div>

                {# Subscription Upgrades START #}
                {# there are 2 divs that display the same thing, but one appears on the left of the text only when there are <=2 upgrades, and the one below appears for more #}
                <div ng-if="SubscriptionUpgradesCount<=3" class="col-lg-9">

                    <div ng-repeat="anUpgradeSubsc in subscriptionUpgrades" class="col-lg-4 upgrade_box">
                        {# only show the discount badge if the xs_discount is above zero #}
                        <div ng-if="anUpgradeSubsc.extensions.xs_discount>0"
                             class="percent">{{ 'disc.'|trans }} {% verbatim %}{{ anUpgradeSubsc.extensions.xs_discount }}{% endverbatim %}
                            %
                        </div>
                        <div class="upgrade_content">
                            <div class="upgrade_title">{% verbatim %}{{ anUpgradeSubsc.title }}{% endverbatim %}</div>
                            <div class="upgrade_price">
                                +{% verbatim %}{{ anUpgradeSubsc.extensions.xs_price_tag[currency] }}{% endverbatim %} {{ 'eur'|trans|upper }}</div>
                            <div class="upgrade_price_total">{{ 'new total'|trans|capitalize }}
                                : {% verbatim %}{{ anUpgradeSubsc.extensions.xs_price_tag[currency]*1 + cbss.extensions.xs_price_tag[currency]*1 + buffer_emails[currency]*1 }}{% endverbatim %} {{ 'eur'|trans|upper }}</div>
                            <div class="upgrade_button"><a href="#"
                                                           ng-click="storeXSsubscriptionUpgrade(anUpgradeSubsc)">{{ 'upgrade'|trans|upper }}
                                    »</a></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--horiz boxes-->
            <div class="row">
                <div ng-if="SubscriptionUpgradesCount>3" class="col-lg-12">

                    <div ng-repeat="anUpgradeSubsc in subscriptionUpgrades" class="col-lg-6 upgrade_box">
                        {# only show the discount badge if the xs_discount is above zero #}
                        <div ng-if="anUpgradeSubsc.extensions.xs_discount>0"
                             class="percent">{{ 'disc.'|trans }} {% verbatim %}{{ anUpgradeSubsc.extensions.xs_discount }}{% endverbatim %}
                            %
                        </div>
                        <div class="upgrade_content">
                            <div class="upgrade_title">{% verbatim %}{{ anUpgradeSubsc.title }}{% endverbatim %}</div>
                            <div class="upgrade_price">
                                +{% verbatim %}{{ anUpgradeSubsc.extensions.xs_price_tag[currency] }}{% endverbatim %} {{ 'eur'|trans|upper }}</div>
                            <div class="upgrade_price_total">{{ 'new total'|trans|capitalize }}
                                : {% verbatim %}{{ anUpgradeSubsc.extensions.xs_price_tag[currency]*1 + cbss.extensions.xs_price_tag[currency]*1 + buffer_emails[currency]*1 }}{% endverbatim %} {{ 'eur'|trans|upper }}</div>

                            <div class="upgrade_button"><a href="#"
                                                           ng-click="storeXSsubscriptionUpgrade(anUpgradeSubsc)">{{ 'upgrade'|trans|upper }}
                                    »</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// horiz boxes-->
            {# Subscription Upgrades STOP #}
            <div style="clear:both; height:20px;"></div>
            <div id="basketButtonsWrapper" style="text-align:center;">
                <input type="button" value="&lsaquo;&lsaquo; BACK" class="backButton btn-lg btn-primary-back jqx-button"
                       id="backButtonBasket" style="font-weight:lighter; line-height:30px;"/>
                <input type="button" ng-click="storeXSsubscriptionUpgrade(false)" value="NO THANK YOU &rsaquo;&rsaquo;"
                       class="nextButton btn-lg btn-primary-back jqx-button"
                       style="font-weight:lighter; line-height:30px;"/> {# clears the selection at this step #}
                <input type="button" value="NEXT &rsaquo;&rsaquo;" class="nextButton btn-lg btn-primary jqx-button"
                       id="nextButtonBasket" style="font-weight:lighter; line-height:30px;"/>
            </div>
            <div style="clear:both; height:20px;"></div>
        </div>
        <!--horiz boxes-->

        <!--// horiz boxes-->

        <div class="section">
            <div id="selectedProductsHeader">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <p>{{ 'Enter your information below and click on "Order" to proceed to payment. All fields are required except "Company" and "Telephone".'|trans }}</p>

                        <div class="col-lg-3"></div>
                    </div>
                    <div style="clear:both"></div>

                    <div id="register">
                        <div></div>
                        <div>
                            <form id="testForm" action="./">


                                <div class="register-table">


                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'company'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="companyInput"
                                                                 ng-model="tempKonto.company" class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'First Name'|trans }}:</div>
                                    <div class="col-lg-4"><input type="text" id="firstNameInput"
                                                                 ng-model="tempKonto.firstName" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'surname'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="lastNameInput"
                                                                 ng-model="tempKonto.lastName" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'address'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="addressInput"
                                                                 ng-model="tempKonto.address" class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'postcode'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="postcodeInput"
                                                                 ng-model="tempKonto.postcode" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'city'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="cityInput" ng-model="tempKonto.city"
                                                                 class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'country'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input list="Alpha-2_countries" id="countryInput"
                                                                 ng-model="tempKonto.country" class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <span id="vatWrapper" class="hide">
                                    <div class="col-lg-3"></div><div
                                                class="col-lg-2 form_label">{{ 'vat'|trans|capitalize }}:
                                        </div><div class="col-lg-4"><input type="text" id="vatInput"
                                                                           ng-model="tempKonto.vat" class="text-input"/>
                                        </div><div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    </span>

                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'phone'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="text" id="phoneInput" ng-model="tempKonto.phone"
                                                                 class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">E-mail:</div>
                                    <div class="col-lg-4"><input type="text" id="adminEmailInput"
                                                                 ng-model="tempKonto.adminEmail"
                                                                 placeholder="someone@mail.com" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'Confirm E-mail'|trans }}:</div>
                                    <div class="col-lg-4"><input type="text" id="adminEmailConfirmInput"
                                                                 ng-model="tempKonto.adminEmailConfirm"
                                                                 placeholder="someone@mail.com" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'password'|trans|capitalize }}:</div>
                                    <div class="col-lg-4"><input type="password" id="passwordInput"
                                                                 ng-model="tempKonto.password" class="text-input"/>
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label">{{ 'Confirm Password'|trans }}:</div>
                                    <div class="col-lg-4"><input type="password" id="passwordConfirmInput"
                                                                 ng-model="tempKonto.passwordConfirm"
                                                                 class="text-input"/></div>
                                    <div class="col-lg-3"></div>
                                    <div style="clear:both"></div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-2 form_label"></div>
                                    <div class="col-lg-3">
                                        <div class="g-recaptcha"
                                             data-sitekey="6Ldn3AMTAAAAANV6ik3PftIV-MVH1_H6CUM0QWWD"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                    {# XSCaptcha image and input#}
                                    {#<div class="col-lg-3"></div><div class="col-lg-2 form_label"><img src="data:image/png;base64,{{ render(controller('xsmtpdk_controller:generatecaptcha64')) }}" alt="Image" /></div><div class="col-lg-4"><input type="text" id="captchaInput" ng-model="tempKonto.captcha" class="text-input" /></div><div class="col-lg-3"></div>#}
                                    {#<div style="clear:both"></div>#}

                                    <datalist id="Alpha-2_countries">
                                        <option value="AF">Afghanistan</option>
                                        <option data-europe="1" value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD" data-europe="1">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT" data-europe="1">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE" data-europe="1">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Côte d'Ivoire</option>
                                        <option value="HR" data-europe="1">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Curaçao</option>
                                        <option value="CY" data-europe="1">Cyprus</option>
                                        <option value="CZ" data-europe="1">Czech Republic</option>
                                        <option value="DK" data-europe="1">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE" data-europe="1">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI" data-europe="1">Finland</option>
                                        <option value="FR" data-europe="1">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE" data-europe="1">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR" data-europe="1">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU" data-europe="1">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE" data-europe="1">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT" data-europe="1">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV" data-europe="1">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT" data-europe="1">Lithuania</option>
                                        <option value="LU" data-europe="1">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT" data-europe="1">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL" data-europe="1">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL" data-europe="1">Poland</option>
                                        <option value="PT" data-europe="1">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Réunion</option>
                                        <option value="RO" data-europe="1">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barthélemy</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK" data-europe="1">Slovakia</option>
                                        <option value="SI" data-europe="1">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES" data-europe="1">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE" data-europe="1">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB" data-europe="1">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </datalist>
                                    {# // #}

                                    <!-- old-->

                                    <!-- <div style="clear:both"><p></p></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Username:</div><div class="col-lg-4"><input type="text" id="userInput" class="text-input" /></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Password:</div><div class="col-lg-4"><input type="password" id="passwordInput" class="text-input" /></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Confirm password:</div><div class="col-lg-4"><input type="password" id="passwordConfirmInput" class="text-input" /></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Real name:</div><div class="col-lg-4"><input type="text" id="realNameInput" class="text-input" /></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Birth date:</div><div class="col-lg-4"><div id="birthInput"></div></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">E-mail:</div><div class="col-lg-4"><input type="text" id="emailInput" placeholder="someone@mail.com" class="text-input" /></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2"> SSN:</div><div class="col-lg-4"><div id="ssnInput"></div></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2"> Phone:</div><div class="col-lg-4"><div id="phoneInput"></div></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2">Zip code:</div><div class="col-lg-4"><div id="zipInput"></div></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>
                                     <div class="col-lg-3"></div><div class="col-lg-2"><div id="acceptInput" style="margin-left: 50px;">I accept terms</div></div><div class="col-lg-3"></div>
                                     <div style="clear:both"></div>-->

                                    <div id="selectedProductsButtonsWrapper" style="text-align:center;">

                                        <div style="clear:both; height:20px;"></div>
                                        <div class="col-lg-12" style="text-align: center;">
                                            <input type="button" value="&lsaquo;&lsaquo; Back" id="backButtonReview"
                                                   class="backButton btn-lg btn-primary-back"
                                                   style="font-weight:lighter; line-height:30px;"/>
                                            <input type="button" value="NO THANK YOU  &rsaquo;&rsaquo;"
                                                   class="nextButton btn-lg btn-primary-back jqx-button"
                                                   style="font-weight:lighter; line-height:30px; visibility:hidden;"/> {# clears the selection at this step #}
                                            <input class="btn-lg btn-primary" ng-click="storeXSKonto(tempKonto)"
                                                   type="button" value="Send &rsaquo;&rsaquo;" id="sendButton"
                                                   style="font-weight:lighter; line-height:30px;"/>

                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both; height:20px;"></div>
                        </div>
                        </form>
                    </div>
                </div>

                <div id="orderContainer">
                </div>
            </div>

        </div>
        <div class="section">
            <div ng-if="ajaxLoadCount<=0">
                <div class="row" style="padding-top:3em">
                    <div class="col-lg-12" style="padding-left:3em"><p>Confirm payment
                            of {% verbatim %}{{ server_userdata.first_name }} {{ server_userdata.last_name }}{% endverbatim %}
                            .</p>

                        <h2>Account information:</h2></div>
                    <div class="col-lg-6" style="padding-left:3em">
                        <p>Company:    {% verbatim %}{{ server_userdata.company }}{% endverbatim %}<br/>
                            Name:    {% verbatim %}{{ server_userdata.first_name }} {{ server_userdata.last_name }}{% endverbatim %}
                            <br/>
                            Address:    {% verbatim %}{{ server_userdata.address }}{% endverbatim %}<br/>
                            Postal code:    {% verbatim %}{{ server_userdata.postal_code }}{% endverbatim %}<br/>
                            City:    {% verbatim %}{{ server_userdata.city }}{% endverbatim %}<br/>
                            Country:    {% verbatim %}{{ server_userdata.country }}{% endverbatim %}<br/>
                            Telephone:    {% verbatim %}{{ server_userdata.telephone }}{% endverbatim %}</p>
                    </div>
                    <div class="col-lg-6" style="padding-left:3em">
                        <p>Username:    {% verbatim %}{{ server_userdata.initial_admin_email }}{% endverbatim %}<br/>
                            Subscription:    {% verbatim %}{{ server_cmp_subsc.title }}{% endverbatim %}<br/>
                            Daily
                            emails:    {% verbatim %}{{ server_cmp_subsc.extensions.xs_daily_included_emails }}{% endverbatim %}
                            <br/>
                            Buffer
                            emails:    {% verbatim %}{{ server_subscriptiondata.buffer_emails_relays }}{% endverbatim %}
                            <br/>
                            Email
                            addresses    {% verbatim %}{{ server_cmp_subsc.extensions.xs_smtp_sendas_no }}{% endverbatim %}
                            <br/>

                            Expire:    {% verbatim %}{{ orderpending.expiry_date_hr }}{% endverbatim %}<br/>
                            Price:    {% verbatim %}{{ orderpending.currency }} {{ orderpending.total }}{% endverbatim %}
                        </p>
                    </div>

                </div>
                <div style="clear:both; height:20px;"></div>
                <div class="col-lg-12" id="paymentdiv" style="text-align: center;">
                    <script charset="UTF-8"
                            src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js"
                            type="text/javascript"></script>
                    <input type="button" ng-click="backButtonCancel()" value="&lsaquo;&lsaquo; Back"
                           id="backButtonCancel" class="backButton btn-lg btn-primary-back"
                           style="font-weight:lighter; line-height:30px;"/>

                    <input type="button" value="NO THANK YOU  &rsaquo;&rsaquo;"
                           class="nextButton btn-lg btn-primary-back jqx-button"
                           style="font-weight:lighter; line-height:30px; visibility:hidden;"/>

                    <input class="btn-lg btn-primary" ng-click="ePayWindowOpen()" type="button" value="Go to payment">

                    <div style="clear:both; height:20px;"></div>
                </div>
            </div>
            <div ng-if="ajaxLoadCount>0" style="height:300px;">

                Please wait (processing data)...

            </div>
        </div>
    </div>

</div>

</div>