{# XPL_mod #}
        {# SNAPENGAGE START #}
<script type="text/javascript">
    (function () {
        var se = document.createElement('script');
        se.type = 'text/javascript';
        se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/2211cc15-7896-4b2a-886a-b9beb4f43e79.js';
        var done = false;
        se.onload = se.onreadystatechange = function () {
            if (!done && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {
                done = true;

                /*
                {# Get the current language from twig ... #}*/
                switch ('{{ app.request.locale }}') {
                    case 'eng_GB' :
                        SnapABug.setLocale('en');
                        break;
                    case 'dan_DK' :
                        SnapABug.setLocale('da');
                        break;
                    default :
                        SnapABug.setLocale('en');
                }
                /*\\*/

            }
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(se, s);
    })();
</script>
{# SNAPENGAGE STOP #}