/* XPL_mod */
header .company-logo {
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 15px;
}
.side-menu {
	margin-bottom: 15px;
}

.top-menu > ul > li > a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
  
.top-menu > ul.navbar-nav > li > a:hover,
.top-menu > ul.navbar-nav > li.active > a:hover{
    color: #428BCA;
    border-bottom: 2px solid #428BCA;
    box-sizing:border-box;
}

 
.content-view-full {
	margin-bottom: 25px;
}
.content-view-block {
	margin-bottom: 20px;
}
figure.ezimage-field {
	text-align: center;
}
figure.ezimage-field img {
	/*max-width: 100%;
	width: 100%;*/
	height: auto;
}
.user-menu {
	font-size: 0.9em;
	padding-top: 5px;
}
.pagination ul {
	list-style: none;
}
.pagination ul li {
	display: inline;
	padding: 0 10px;
}
.menu-search .form-group {
	width: 400px;
}
.menu-search input {
	width: 300px;
}
/* Gallery */

.content-type-gallery figure.ezimage-field img {
	width: auto;
}
.content-type-gallery figure.ezimage-field {
	text-align: left;
}
/* Images */

.image-small {
	max-width: 180px;
	height: auto;
}
/* Social Icons */


/* Create square icons, white logo on colored background */

.social-bar .icon {
	color: white;
	border-radius: 4px;
	border: 1px outset rgba(128, 128, 128, 0.5);
	min-width: 27px;
	line-height: 27px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}
.social-bar a {
	margin-right: 5px;
	padding: 5px; /* Increase hit rectangle for touch devices */
	text-decoration: none;
}
.social-bar a:first-child {
	padding-left: 0;
}
/* Set icon color related to the service */

.social-bar a span {
	margin-left: 5px;
}
.social-bar .icon-rss {
	color: #e5842f;
}
.social-bar .icon-facebook {
	color: #3B5998;
}
.social-bar .icon-github {
	color: #000;
}
.social-bar .icon-twitter {
	color: #00ACED;
}
.social-bar .icon-google-plus {
	color: #E14107;
}
.social-bar a:hover span {
	color: #333333; /* Match icon highlight color */
}
/* Animate mouse hover */
.social-bar a span {
	transition: color 0.5s;
}
.social-bar a:hover span {
	color: #333333;
	transition: color 0.5s;
}
/*@media all and (min-width: 1200px) {*/
/*custom css*/
/*<!--.content-type-folder h3 { 
	background: rgb(84, 84, 84);
background: url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #545454 0%, #272727 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(84, 84, 84)), color-stop(100%, rgb(39, 39, 39)));
	background: -webkit-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(39, 39, 39) 100%);
	background: -o-linear-gradient(top, #545454 0%, #272727 100%);
	background: -ms-linear-gradient(top, #545454 0%, #272727 100%);
	background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(39, 39, 39) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#272727', GradientType=0 );
	padding: 10px 34px;
	display: inline-block;
	font-size: 19px;
	border-radius: 10px;
	margin: 15px 0 16px -36px;
	white-space: nowrap;
	font-weight: 600;
	color: rgb(255, 255, 255);
}-->*/
.company-logo {
	padding: 30px 10px 0 15px;
}
.carousel-inner {
	height: 378px !important;
}
.carousel-inner .attribute-image img {
	height: 390px !important;
	width: 100% !important;
}
.carousel-inner h2 {
	letter-spacing: 0.03em;
	font-size: 44px;
	font-family: 'Open Sans', sans-serif;
}
.carousel-inner h3 {
	font-size: 20px;
	line-height: 1.3;
	margin: 0;
	padding: 0;
	width: 690px;
	text-wrap: normal;
	font-family: 'Open Sans', sans-serif;
}
.carousel-check-holder {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 4;
	bottom: 0;
	width: 100%;
	height: 117px;
	max-height: 117px;
	padding: 22px 0 25px;
}
.carousel-caption .container { 
	padding-left: 0;
}
.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 34px;
}
.xpl-check {
	background: url("/bundles/tuteibase/images/xpl_check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	font-size: 15px;
	font-weight: 600;
	height: 39px;
	letter-spacing: -1px;
	line-height: 40px;
	max-height: 50%;
	padding: 0 0 0 34px;
	position: relative;
	text-align: left;
	width: 265px;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	font-family: 'Open Sans', sans-serif;
}
.xpl-check-row .row {
margin: 0 0 0 16px;

}
.xpl-check-row{padding:0;}
.btn-warning, .btn-primary, .btn-primary-back, .btn-primary-forward {
	font-size: 25px !important;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
	padding: 10px 31px;
	color:#fff;
}

.btn-primary-back{
	background: #bcbcbc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NDg0ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #bcbcbc 0%, #848484 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bcbcbc), color-stop(100%,#848484)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #bcbcbc 0%,#848484 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #bcbcbc 0%,#848484 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #bcbcbc 0%,#848484 100%); /* IE10+ */
background: linear-gradient(to right,  #bcbcbc 0%,#848484 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#848484',GradientType=1 ); /* IE6-8 */

	border: 1px none rgba(0, 0, 0, 0);
}

.btn-warning {
	background: linear-gradient(to right, #E45D14 1%, #8E2E08 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px none rgba(0, 0, 0, 0);
}
.btn-primary {
	background: linear-gradient(to right, #AEC63E 1%, #017C31 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px none rgba(0, 0, 0, 0);
	margin-right: 5px;
}
.btn-primary-forward {
	background: #afc63e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmYzYzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdiMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #afc63e 0%, #007b31 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#afc63e), color-stop(100%,#007b31)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #afc63e 0%,#007b31 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #afc63e 0%,#007b31 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #afc63e 0%,#007b31 100%); /* IE10+ */
background: linear-gradient(to right,  #afc63e 0%,#007b31 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afc63e', endColorstr='#007b31',GradientType=1 ); /* IE6-8 */

	border: 1px none rgba(0, 0, 0, 0);
	margin-right: 5px;
}
.carousel-control {
	z-index: 1000
}
.carousel-right {
	right: 20%;
}
.carousel-left {
	left: 20%;
}
.carousel-left, .carousel-right {
	display: inline-block;
	position: absolute;
	top: 50%;
	z-index: 5;
}
/* top menu */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}
.navigation {
	max-width: 800px;
	margin-right: 13px;
}
.navigation .navbar {
	margin: 0;
}
.xpl-menubar {
	margin-right: 7px;
}
.xpl-menubar ul {
	margin: 3px 4px;
}
.xpl-menubar ul li{ margin:2px;}
.navbar-toggle {
	display: none;
}
.nav a {
	color: rgb(0, 0, 0);
	font-weight: bold;
	margin-left: 30px !important;
	font-size: 15px;
	padding: 5px 11px !important;
}

.xpl_dropdown > .active > a, .xpl_dropdown > a:hover, .xpl_dropdown > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, li.topmenu-item > a:hover, li.topmenu-item > a:focus {
	background-color: rgba(0,0,0,0.8) !important;
	color: #FFF;
}

.nav a {
	color: rgb(0, 0, 0);
	font-weight: bold !important; 
	margin-left: 0 !important;
	font-size: 14px;
	padding: 5px 13px !important;
}
li.xpl_dropdown >a{
	border-top-right-radius: 7px;
	border-top-left-radius:7px;
	margin-left: 2px;
	padding: 5px 10px 0 10px;
	position: relative;}
li.topmenu-item > a {
	border-radius: 7px;
	margin-left: 2px;
	padding: 5px 10px;
	position: relative;
}

.xpl_login{ background-color: rgba(0,0,0,0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px !important;
    margin: 0 !important;
    width: 300px;
	font-weight:normal;
	padding: 20px 0;
	border:0px;}
.xpl_login label{ color:#aaaaaa; font-weight:normal;}
.xpl_login input[type=text],
.xpl_login input[type=password] {   background-color: #4a4a4a;    
    color: #fff;
    height: 28px;
    padding-left:5px;
    padding-right:5px;
    width: 150px;
    box-shadow: 2px 2px 2px #363636 inset;
    border: 0px inset;
	border-radius: 5px;}
.xpl_login input[type=submit]{
	background: #bcd635; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjZDYzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTdlNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #bcd635 0%, #417e55 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bcd635), color-stop(100%,#417e55)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #bcd635 0%,#417e55 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #bcd635 0%,#417e55 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #bcd635 0%,#417e55 100%); /* IE10+ */
background: linear-gradient(to right,  #bcd635 0%,#417e55 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd635', endColorstr='#417e55',GradientType=1 ); /* IE6-8 */
text-transform:uppercase; color:#e8fab6; border:none; padding: 9px 16px;      
	}
	
span.round{
	content: '';
    pointer-events:none;
    z-index: 1;
    position: absolute;
    height: 31px;
    width: 30px;
    overflow:hidden;
    left:-30px;
    top:0;}
span.round:after{
	content: '';
    z-index: 1;
    position: absolute;
    margin-left: -10px;
    margin-top:-11px;
    height: 32px;
    width: 30px;
    background: transparent;
    border: solid 10px #2b2657;
    border-bottom-right-radius: 30px;}
/* // */

/* Boxes */
.boxes .panel-heading {
	display: none;
}
.boxes figure img {
	max-height: 85px;
	width: auto !important;
}
.frcol1 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}
.frcol2 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
.frcol3 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
.frcol4 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
}
.frcol1 .img-responsive, .frcol2 .img-responsive, .frcol3 .img-responsive, .frcol4 .img-responsive {
	margin: 0 auto;
}
.frcol1 h3, .frcol2 h3, .frcol3 h3, .frcol4 h3 {
	margin: 20px 0 13px 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	background: none;
	display: block;
	margin-left: 0;
	color: rgb(0, 0, 0);
	text-align: center;
	letter-spacing: 0;
}
.frcol1 p, .frcol2 p, .frcol3 p, .frcol4 p {
	font-size: 12px;
	text-align: center;
	line-height: 23px;
	font-weight: normal;
}
.frcol1, .frcol2, .frcol3, .frcol4 {
	min-height: 315px;
	max-height: 315px;
	padding-bottom: 0;
	;
}
.img-container {
	height: 140px;
	position: relative;
	line-height: 120px;
	text-align: center;
	vertical-align: bottom;
}
.img-container img {
	position: relative;
	margin: 0 auto;
	vertical-align: bottom;
}
.frcol1 .panel, .frcol2 .panel, .frcol3 .panel, .frcol4 .panel {
	background-color: transparent;
	border: 0px none;
	border-color: transparent;
	box-shadow: none;
}
.frcol1 .block-image, .frcol2 .block-image, .frcol3 .block-image, .frcol4 .block-image {
	height: 122px;
	position: relative;
	line-height: 110px;
	text-align: center;
	vertical-align: bottom;
}
.frcol1 .block-image img, .frcol2 .block-image img, .frcol3 .block-image img, .frcol4 .block-image img {
	position: relative;
	margin: 0 auto;
	vertical-align: bottom;
}
.frcol1 panel-body, .frcol2 panel-body, .frcol3 panel-body, .frcol4 panel-body {
	padding: 15px 5px !important;
}
/* // */

/* front page */
article.content-view-full{margin-bottom: 0;}
.xpl-body, .container .col-md-12, .content .col-md-12{ /*background: rgb(255, 255, 255);padding-top: 35px;*/  padding:0;}
.xpl-body h2,.notrustpilot h2, .trustpilot h2, .funktioner h2, .trustpilot_dk h2{background: #545454; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #545454 0%, #272727 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#272727)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #545454 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #545454 0%,#272727 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #545454 0%,#272727 100%); /* IE10+ */
background: linear-gradient(to bottom, #545454 0%,#272727 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#272727',GradientType=0 ); /* IE6-8 */

padding: 10px 34px; display: inline-block; font-size: 19px; border-radius: 10px; margin: 15px 0 16px -36px; white-space: nowrap; font-weight: 600; color: rgb(255, 255, 255);}

p.toggle-select-me{ color:#6ea541; cursor:pointer;margin: 10px 8px;}
p.toggle-select-me:hover{ color:#428bca;}

.panel{ border:0px; border-radius:0px;}
.trustpilot .panel, .trustpilot .panel, .trustpilot_dk .panel { margin-bottom:0;}
.xpl-body .block-image, .xpl-body .panel-heading{ display:none;}
blockquote{border: none; padding-left: 0; margin-top: 30px;}
blockquote .bubble {/*background: #f3f1f0; margin: -35px 15px 0 10px; padding-top: 40px; border:none;*/
	position: relative;
	width: auto;
	height: auto;
	padding:0 20px 1px 20px;
	background:  #f3f1f0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
blockquote .bubble h2{position: relative;top: -40px;left: -18px; margin-bottom:0;}	
custom name="quote"{position: relative;top: -20px;margin-bottom: 0 !important;}
/*custom [name="quote"]:after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 185px;
	border-style: solid;
	border-width: 40px 40px 0 0;
	border-color: #f3f1f0 transparent;
	display: block;
	width: 0;
	z-index: 1;
}*/
	.xpl-body{}
	.xpl-body p{}
	.xpl-body h2{}
	.bold p{font-weight:bold;} 
	.xpl-body .panel { margin-bottom: 0;}
	.row.stars {padding: 0; background-color:#FFF}
	.col-lg-6.body-content.right-column {padding-left: 0;}
	.trustpilot, .trustpilot_dk{padding:0; background-color:#FFF}
	.trustpilot img{margin: auto;padding-left: 0;}
	.trustpilot h3, .trustpilot_dk h3 {text-align: center;font-weight: 600;word-spacing: 1px;white-space: nowrap;font-weight: 600;font-size: 20px;display: inline-block;margin: 15px 0 5px 0;font-weight: bold;}
	.trustpilot img{ width:305px !important; height:55px !important;}
	.trustpilot h2, .trustpilot_dk h2 {margin: 35px 0 18px -45px;}
	.trustpilot p, .trustpilot_dk p {margin: 0 0 15px 0;}
	.trustpilot .panel-heading, .trustpilot_dk .panel-heading{ display:none;}
	.trustpilot .block-image {padding-top: 57px;}
	.fprows-container{ display:table-row;}
	
	.fprows .panel{ display:table-row; background:none;}
	.fprows .panel-body{ display:table-row;}
	.fprows .panel-heading{ display:none;}
	.fprows .block-image { display: table-cell;width: 15%; vertical-align:middle;}
	.fprows figure.ezimage-field img {    height: auto;    max-width: 100%;    width: auto;}
	.fprows h3{ font-size:20px; font-weight:bold;}
	.types3 p {}
	.types1{ width:15%; display: table-cell; vertical-align: middle;}
	.types1 img{  margin:auto; }
	.types3 a{}
	.types2{ width:60%; display: table-cell; padding-right: 20px; }
	.types3{ width:15%; display: table-cell; vertical-align:bottom; }
	.fprows{ /*padding:30px 30px 20px 20px !importantmargin-left: -15px; margin-right: -15px; padding:0; height:117;  min-height:117px;*/ overflow:hidden; }
	.fprows img{ float:left;  display:inline-block;}
	.fprows h3{ font-weight:bold !important;  }
	.fprows p{ /*font-weight:bold !important;*/}
	.fprows-container{}
	/* alpha */
	.white   { background:rgba(255,255,255,1) !important;}
	.alpha70 { background:rgba(255,255,255,0.7) !important;}
	.alpha60 { background:rgba(255,255,255,0.6) !important;}
	.alpha50 { background:rgba(255,255,255,0.5) !important;}
	.alpha40 { background:rgba(255,255,255,0.4) !important;}
	.alpha30 { background:rgba(255,255,255,0.3) !important;}
	.alpha25 { background:rgba(255,255,255,0.25) !important;}
	.alpha15 { background:rgba(255,255,255,0.15) !important;}
	td.readmore{ vertical-align:bottom !important; white-space:nowrap;}
	td.xpl_infos{ padding:0 10px 0 5px;}
	td.xpl_infos h3{font-size: 20px; font-weight:600; line-height:22px; margin-bottom:10px;}
	td.xpl_infos p{font-size: 15px; /*font-weight:600;*/ line-height:23px; margin-top:8px}
	
	a { color:#6EA541;} 
	a:hover, a:focus {color: rgb(42, 100, 150); text-decoration: underline;}
	footer{ white-space:nowrap;}
	footer, footer p, footer a, footer li{ color:#FFF;}
	footer ul{ overflow: visible;}
	footer li, footer p{ }
	footer li{font-size:14px; /*margin:0 10px;*/ white-space:nowrap;}
	.footer{ background:#000;}
	.counter span{ font-size:30px;padding: 5px 3px; background:#353535; border-radius:5px; margin:0 2px; color:#FFF; line-height:80px; white-space:nowrap; }
	.counter-text{ color:#fff; font-size:14px; line-height:40px; }
	.footer-padding{ padding:25px 0 0 0;}
	.oblique-line{padding-left:35px;} 
	.line2 {
    width: 180px;
    height: 67px;
    border-bottom: 3px solid #fff;
    -webkit-transform:
        translateY(35px)
        translateX(-70px)
        rotate(-60deg);
    position: absolute;
	}
	.policies p, policies ul li{ font-size:12px;}
	ul.social_icons li{ text-align:center; margin:0; font-size:10px !important;}
	ul.social_icons li img{ height:35px;}
	ul.social_icons li { margin:0; padding:0;}
	.social_div, .social_div li{ /*font-size:12px;*/}
	.social_div ul{ margin:0; padding:0}
	.social_div p{ margin:2px;}

/* // */
/* multibanner no checkboxes and left right */
.no_aditional .carousel-control, .no_aditional .carousel-check-holder, .no_aditional .carousel-indicators{ display:none;}
.carousel-control{ opacity:0.75;}

/* // */
/* transparent background */
.transparent .panel{ background-color:transparent;}
/* // */

/* hvad page */
.hvad .block-image{ display:none;}
.hvad-left img{ float:left !important; padding:10px 20px;}
.hvad h2{background: #545454; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #545454 0%, #272727 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#272727)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #545454 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #545454 0%,#272727 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #545454 0%,#272727 100%); /* IE10+ */
background: linear-gradient(to bottom, #545454 0%,#272727 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#272727',GradientType=0 ); /* IE6-8 */

padding: 10px 50px; display: inline-block; font-size: 19px; border-radius: 10px; margin: 15px 0 16px -35px; white-space: nowrap; font-weight: 600; color: rgb(255, 255, 255);}
.hvad-left p{ margin-left:20px; padding-right:2.5em;}
.hvad .panel{ margin-bottom:0;}
.hvad-transp{ background:rgba(255,255,255,0.5); padding:66px 0 !important;}
.hvad-transp p{ font-size:18px; }
.breadcrumb{ display:none;}
.simplebanner { height:250px;}
.simple-background-image{ position:absolute; width:100%}
.smtp-image-holder img{left: 0; position: absolute; top: -150px;}
.simple-background-image img{max-height: 350px; }
.hvad .panel-heading{ display:none;}
/* // */
/* priser */
.priser .btn-lg{ min-width: 158px; margin:5px auto;}
.priser .panel-body{ padding:0;}
.priser-checkboxes ul li, .funktioner ul li{ background-image:url(/bundles/tuteibase/images/xpl_check.png); background-repeat:no-repeat; padding-left:30px; list-style-type:none; line-height:32px;}
.col-lg-3.priser-checkboxes {padding: 0;}
.smtp-row{ padding:25px;}
.priser .block-image, .funktioner .block-image{display:none;}
.priser .panel{ background:none;}
.boxes img{}
.priser.tr{ padding:5px;}
td.td_title{ padding:30px 0 0 20px;}
td.td_title b{ font-weight:600;}
td.td_title p{ font-family:"Open Sans", sans-serif;  font-size:48px; line-height:48px; font-weight:300; padding-top:30px;}
td.td_header p{ font-size:14px; color:#565656; font-size:14px;}
td.td_header, td.td_title{ vertical-align:bottom !important; padding:0 30px !important;}
td.td_name{ vertical-align:middle !important; font-size: 22px; padding:0 30px !important;}
td.td_content{ font-size:30px; vertical-align:middle !important;}
.xpl_semibold {font-size: 30px;font-weight: 600;}
.priser table { margin:0;}
.simple-background-image img{ min-width:100%; width:100%;}
.smtp-caption {top: 20px;color: #FFFFFF;left: 15%; padding-bottom: 20px; padding-top: 20px; position: absolute;right: 15%;text-align: left;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);z-index: 10;}
.simplebanner{ position:relative;}
.priser_banner {max-height: 269px; overflow: hidden;}

/* // */
/* */
.boxes .panel-heading{ display:none;}
/* funktioner */
.funktioner ul{ padding:0;}
.funktioner .panel{ margin-bottom:0 !important;}
.bigicons p{ font-size:35px;}
.bigicons .panel{ background:none !important;}
.functioner_first, .functioner_second{ background:#FFF;}

/* //  */ 

/* Support */
.support .block-image{ display:none;}
.support li{ list-style-type:none;}
p.support-left{background:url(/bundles/tuteibase/images/online.png) no-repeat left center; font-size:25px; line-height:27px;}
p.support-right{background:url(/bundles/tuteibase/images/offline.png) no-repeat left center; font-size:25px; line-height:27px;}
p.support-p{color:#999
}
.support_banner p {padding-left: 40px;}
.support_banner{ max-height:269px; overflow:hidden;}
.support-sidebar ul li img { max-width:30px; width:30px; height:auto; margin-right: 10px; 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.support-sidebar ul li{ padding:5px 0}
.support-sidebar .panel{ background-color:transparent !important; background:none !important;}
.support h2{background: #545454; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #545454 0%, #272727 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#272727)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #545454 0%,#272727 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #545454 0%,#272727 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #545454 0%,#272727 100%); /* IE10+ */
background: linear-gradient(to bottom, #545454 0%,#272727 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#272727',GradientType=0 ); /* IE6-8 */

padding: 10px 50px; display: inline-block; font-size: 19px; border-radius: 10px; margin: 15px 0 16px -50px; white-space: nowrap; font-weight: 600; color: rgb(255, 255, 255);}
.toggle-overflow{ display:none;}
.targetDiv .panel{ padding:0;}
#support_sidebar li a:link, #support_sidebar li a:visited{ color:#565656; text-decoration:underline;}

.table img{ 
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    height: auto;
    max-width: 22px;
    width: 22px;}

/* // */
/* kontakt */
#contact_form_save{
	background: linear-gradient(to right, #AEC63E 1%, #017C31 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px none rgba(0, 0, 0, 0);
	margin-right: 5px;
	text-shadow:none;
	color:#FFF;}
/*.qanda ul{list-style-image:url(/bundles/tuteibase/images/Icon-copy.png)}*/
.qanda ul li{list-style-type:none; line-height:25px; }
ul.flipflopul li:before{content:''; padding: 0 0 0 17px; background:url(/bundles/tuteibase/images/Icon-copy.png)no-repeat left center;}
.qanda ul li a{ text-decoration:underline !important;}
ul.flipflopul li { color:#6EA541; text-decoration:underline; cursor:pointer;}
ul.xpl_unstyled li{ color:#000; text-decoration:none !important; cursor: default;}
ul.xpl_unstyled li:before{content:''; padding: 0; background: none;}
p.kontaktboxes1, p.kontaktboxes3{ font-weight:normal;}
p.kontaktboxes2{ font-size:24px}
p.kontaktboxes1{ margin-bottom:0;}
/* // */
p.toggle-select-me{padding: 0 0 0 17px; background:url(/bundles/tuteibase/images/Icon-copy.png)no-repeat left center;}

/* dashboard */
li.dashboard, li.email, li.rapportering, li.profil, li.abonnement { padding:0; display:block; width:100%;}
li.dashboard:hover, li.email:hover, li.rapportering:hover, li.profil:hover, li.abonnement:hover { background-color:rgba(255,255,255,1);}
a.dashboard-sidelink{padding:15px; display:block; width:100%; text-decoration:none; color:#000}
a.dashboard-sidelink:hover, a.dashboard-sidelink:focus, a.dashboard-sidelink:active{ font-weight:bold; color:#000}
.dashboard-page ul{ margin-top:30px;}
.dashboard-page ul, .dashboard-page .panel-body, .dashboard-page { padding:0}
#div_dashboard, #div_email, #div_rapportering, #div_profil, #div_abonnement { padding:0;}
.no_image .block-image{ display:none;}
.order-img img{margin-left: 15px; max-width: 220px;}


.dragger-tooltip{ background: none repeat scroll 0 0 #000000; border-radius: 5px; width:190px; min-width:190px;}
.dragger-tooltip:after 
{
content: "";
  border-color: #000000 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width:  0 8px 10px;
    content: "";
    display: block;
    left: 45%;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}
.dragger-tooltip > p{
    display: inline-flex;
    margin: 0;
    padding: 2px 10px;
    white-space: nowrap;
}
/* checkout */
.checkout_banner p{ font-weight:300; font-size:40px; line-height:40px;}
.upgrade_box{background: #f8f7f6; margin: 2%; /*width:45%; max-width: 45%;*/ width:230px; height: 230px;overflow: hidden;border-top-left-radius:7px; border-top-right-radius:7px; -moz-box-shadow:inset 0 0 10px #d6d0cb;
   -webkit-box-shadow:inset 0 0 10px #d6d0cb;box-shadow:inset 0 0 10px #d6d0cb;}
.upgrade_content{ font-family:'Open Sans', sans-serif; color:#565656;}
.upgrade_title{font-size: 16px;margin-top: 30px;text-align: center;}
.upgrade_price{font-size: 40px;font-weight: 300;margin-top: 20px;text-align: center;}
.upgrade_price_total{    font-size: 16px; margin-top: 20px; text-align: center;}
.upgrade_button{background: #aec63e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYzYzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTdiMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #aec63e 0%, #017b31 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#aec63e), color-stop(100%,#017b31)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #aec63e 0%,#017b31 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #aec63e 0%,#017b31 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #aec63e 0%,#017b31 100%); /* IE10+ */
background: linear-gradient(to right,  #aec63e 0%,#017b31 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aec63e', endColorstr='#017b31',GradientType=1 ); /* IE6-8 */

	;bottom: 0;color: #fff;display: block;font-size: 26px;font-weight: 300;left: 0;
    padding: 10px;position: absolute;text-align: center;width: 100%;}
.upgrade_button a{ display:block; width:100%; height:100%; color:#FFF;}	
.upgrade_button a:hover{ text-decoration:none;}
.percent{background: #e35c14; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzNWMxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MzMxMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e35c14 0%, #933109 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e35c14), color-stop(100%,#933109)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e35c14 0%,#933109 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e35c14 0%,#933109 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e35c14 0%,#933109 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e35c14 0%,#933109 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e35c14', endColorstr='#933109',GradientType=0 ); /* IE6-8 */
 
color: #fff;padding: 5px 37px;position: absolute;right: -30px;top: 20px;
-webkit-transform: rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg); }
.percent span{}
form#testForm input[type="text"], form#testForm input[type="password"], form#testForm input#countryInput{border-radius: 5px; margin: 5px 0; padding: 5px; min-width:100%;}
form#testForm .register-table .form_label{ font-weight:600;}
/* // */
.dragger-tooltip span{ margin:0 3px; color:#FFF; font-weight:bold;}
.dragger-tooltip span.dragger-tooltip-s2{ color:rgba(255,255,255,0.5); font-weight:normal;}
.section.jqx-tabs-content-element.jqx-rc-b{ overflow:hidden;}
/* // */
.panel, .panel-default{ border:0px none; box-shadow:none;}
.section{ /*padding:0 1em;*/}
ul.jqx-tabs-title-container{ width:100%; overflow:hidden;}
.jqx-widget-content{ font-family:'Open Sans', sans-serif;}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
ol.carousel-indicators {
    display: none;
}
.navbar-nav > li > .dropdown-menu {
    border-radius: 5px;
}
.section.jqx-tabs-content-element.jqx-rc-b, .jqx-tabs{ overflow:visible !important;} 
.jqx-widget-content{ font-family:'Open Sans',sans-serif;}
.pyaccept .panel{ margin-bottom:0;}
.trustpilot_dk .panel-body { padding-left:0 !important; padding-right:0 !important;}
.social_div li{ padding: 6px 0.8em !important; }
/*}*/

.dashboard-iframe{
  width: 100%;
 
  overflow: hidden;
  border: none;
}

.dashboard-iframe .iframe, object, embed{
 width: 100%;
 height: auto;}
 ul.footer_copy li{ font-size:1em;}
 ul.footer_copy li a{ text-decoration:underline; }
 li.footerTitle {
    display: list-item !important;
    font-weight: bold;
    margin: 0 0 15px !important;
    padding: 0 !important;
}
 }
@media all and (max-width: 1200px) {
 #carousel-example-generic{ display:none !important}
.remove-small{ display:none !important}
.simplebanner { overflow:hidden;}
}
@media all and (min-width: 1200px) {
 #myCarousel{ display:block}
 .remove-small{ display:block;}
 .simplebanner { overflow:hidden;}
}
ul.footer_my_list {}
ul.footer_my_list  li{ display:block}
