{# XPL_MOD #}
{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# XPL_PATCH extending the Tutei pagelayout instead of default #}
{# {% extends "::base.html.twig" %} #}
{% extends "TuteiBaseBundle::pagelayout.html.twig" %}
{#//#}

{% trans_default_domain 'MremiContactBundle' %}

{% block title %}{{ 'mremi_contact.confirm_page_title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mremibootstrap/css/bootstrap.min.css') }}" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="{{ asset('bundles/mremibootstrap/css/bootstrap-theme.min.css') }}" type="text/css"
          media="all"/>
{% endblock %}

{% block content %}
    <section>
        <h3>{{ 'mremi_contact.confirm_title'|trans({
                '%title%':    contact.titleValue|trans,
                '%fullName%': contact.fullName
            }) }}</h3>
    </section>

    <p>{{ 'mremi_contact.confirm_message'|trans }}</p>
{% endblock content %}
