{% extends "DSAdminBundle::clean.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                {#<div class="text-right">#}
                    {#<a href="page_register.html" class="txt-default">Need an account?</a>#}
                {#</div>#}
                {% if error %}
                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <form action="{{ path('fos_user_security_check') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="box">
                        <div class="box-content">
                            <div class="text-center">
                                <h3 class="page-header">Login Page</h3>
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="password" id="password" name="_password" class="form-control" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="remember_me" class="control-label">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            </div>
                            <div class="text-center">
                                <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}
