{% set newWindow = false %}

{% if not ez_is_field_empty( content, "new_window" ) %}
    {% set newWindow = ez_field_value(content, 'new_window').bool %}
{% endif %}

{% set link = '' %}

{% if not ez_is_field_empty( content, "link_object" ) %}
    {% set link = path(relation_list[ez_field_value(content, 'link_object').destinationContentId]) %}
{% elseif not ez_is_field_empty( content, "link_external" ) %}
    {% set link = ez_field_value(content, 'link_external').link %}
{% endif %}


<div class="panel panel-default" itemscope="itemscope" itemtype="http://schema.org/Thing">
    <div class="panel-heading">
        <h3 class="panel-title" itemprop="name">
            <a itemprop="url"
               href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>{{ ez_content_name( content ) }}</a>
        </h3>
    </div>
    <div class="panel-body">


        {% if content.fields.image is defined %}
            <div class="block-image" itemprop="image">
                <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>
                    {{ ez_render_field(content, 'image', {
                        parameters:{ alias:'small' },
                        attr:{ class:'block_item' }
                    }
                    ) }}</a>
            </div>
        {% endif %}


        {% if not ez_is_field_empty( content, "intro" ) %}
            <div class="block-intro" itemprop="description">
                {{ ez_render_field( content, 'intro' ) }}
            </div>
        {% endif %}


    </div>
</div>