{% set newWindow = ez_field_value(content, 'new_window').bool %}

{% set link = '' %}

{% if not ez_is_field_empty( content, "link_object" ) %}
    {% set link = path(relation_list[ez_field_value(content, 'link_object').destinationContentId]) %}
{% elseif not ez_is_field_empty( content, "link_external" ) %}
    {% set link = ez_field_value(content, 'link_external').link %}
{% endif %}

<aside class="panel panel-default" itemscope="itemscope" itemtype="http://schema.org/Thing">

    <div class="panel-heading">
        <h3 class="panel-title" itemprop="name">
            <a itemprop="url"
               href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>{{ ez_content_name(content) }}</a>
        </h3>
    </div>

    {% if not ez_is_field_empty( content, "image" ) %}
        <div class="attribute-image" itemprop="image">
            <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>
                {{ ez_render_field(content, 'image', {
                    parameters:{ alias:'small' },
                    attr:{ class:'block_item' }
                }
                ) }}
            </a>
        </div>
    {% endif %}

    <div class="panel-body">
        {% if content.fields.body is defined %}
            {{ ez_render_field( content, 'body' ) }}
        {% endif %}


        {% if source_items[ez_field_value(content, 'source').destinationContentId] is defined %}
            {% set items = source_items[ez_field_value(content, 'source').destinationContentId] %}
            <ul>
                {% for item in items.searchHits %}
                    <li>{{ render(
                        controller(
                        'ez_content:viewLocation',
                        {
                            'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                            'viewType': 'menu_item'
                        }
                        )
                        ) }}</li>

                {% endfor %}
            </ul>
        {% endif %}
    </div>

</aside>