{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

    <article class="content-view-full" itemscope="itemscope" itemtype="http://schema.org/Thing">
        <div class="content-type-default">

            {% for key, field in content.fields %}
                <div class="attribute">
                    <h2>{{ key }}:</h2>
                    {{ ez_render_field( content, key ) }}
                </div>
            {% endfor %}


            <section class="attribute-children">
                {{ render( controller( "tutei:showComponent",
                { 'name': 'LineList',
                    'parameters': { 'location': location,
                    'request': app.request } } ) ) }}
            </section>
        </div>
    </article>

{% endblock %}
