{% set css_classes = 'menu-link' %}
{% set extra_attributes = '' %}

{% set dropdown = dropdown|default(false) %}

{% if dropdown == true %}
    {#
    {% set extra_attributes = 
            extra_attributes ~ ' data-toggle="dropdown"' %}
    #}

    {% set css_classes = css_classes ~ ' dropdown-toggle disabled' %}
{% endif %}

<a href="{{ path( location ) }}" class="{{ css_classes }}"
   title="{{ ez_content_name( content ) }}"{{ extra_attributes|raw }}>{{ ez_content_name( content ) }}{% if dropdown == true %}
        <span class="caret"></span>{% endif %}</a>
