{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

    <div class="content-view-full" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">
        <div class="content-type-gallery">
            <div class="attribute-title">
                <h1 itemprop="name">{{ ez_render_field( content, 'title' ) }}</h1>
            </div>

            <section class="attribute-children">
                {{ render( controller( "tutei:showComponent",
                { 'name': 'LineList',
                    'parameters': { 'location': location,
                    'limit':9,
                    'template': 'TuteiBaseBundle:parts:gallery_list.html.twig',
                    'request': app.request } } ) ) }}
            </section>
        </div>
    </div>


{% endblock %}