{# XPL_mod #}
{% if  content.fields.image is defined and not ez_is_field_empty( content, 'image' ) %}
    {% set image_alias = ez_image_alias( content.getField('image'), content.versionInfo,  alias|default('original') ) %}

    <img class="image-small" src="{{ asset( image_alias.uri ) }}" alt="{{ ez_content_name(content) }}"/>

{% endif %} 
