<div class="content-view-line">
    <div class="content-type-article">

        <div class="attribute-title">
            <h2>
                <a href="{{ path( location ) }}"
                   title="{{ ez_content_name(content) }}">{{ ez_render_field( content, 'name' ) }}</a>
            </h2>
        </div>


        {% if not ez_is_field_empty( content, 'image' ) %}
            {% set image_alias = ez_image_alias( content.getField('image'), content.versionInfo,  'original' ) %}

            <a href="{{ asset( image_alias.uri ) }}" data-lightbox="gallery">
                {{ ez_render_field(content, 'image', {
                    parameters:{ alias:'small' },
                    attr:{ class:'block_item' }
                }
                ) }}</a>

        {% endif %}
    </div>
</div>