<ol class="breadcrumb" itemprop="breadcrumb">
    {% for item in location_list %}

        <li{% if loop.index == loop.length %} class="active"{% endif %}>
            {% if loop.index < loop.length %}
                <a href="{{ path(item) }}">{{ item.contentInfo.name }}</a>
            {% else %}
                {{ item.contentInfo.name }}
            {% endif %}
        </li>

    {% endfor %}
</ol>