{% for item in list.searchHits %}
    {{ render(
    controller(
    'ez_content:viewLocation',
    {
        'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
        'viewType': 'box',
        'params':{'relation_list':relation_list,
        'source_items': source_items}
    }
    )
    ) }}
{% endfor %}
