{# XPL_mod #}
<footer>
    <div class="footer footer-padding">
        <div class="container ">
            <div class="row oblique">
                <div class="col-lg-6 counter col-md-6 col-sm-6 col-xs-12">
                    <div id="live_mail_counter" class="col-lg-8">{# 8 values number #}</div>
                    <div id="live_mail_counter_description"
                         class="col-lg-4"> {{ 'mails sent today'|trans|raw }}</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="list-unstyled list-with-headers list-inline-wrapper">
                        {{ ez_render_field( footerContent, 'left' ) }}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div style=" margin:0 auto; float:none;"
                         class="list-with-headers list-unstyled footer_my_list list-inline-wrapper">
                        {{ ez_render_field( footerContent, 'center' ) }}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 social_div">
                    <div class="list-with-headers">
                        <ul class="list-inline pull-right">
                            <li>Community</li>
                            <li><a href="https://www.facebook.com/mysmtp" target="_blank"><i
                                            class="fa fa-facebook fa-2x"></i></a></li>
                            <li><a href="https://twitter.com/mysmtp" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="list-inline-wrapper footer_copy pull-right">
                        {{ ez_render_field( footerContent, 'bottom' ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>