{% for modal in modals %}
    <!-- Modal -->
    <div class="modal fade" id="{{ ez_render_field( modal.valueObject, 'uid' ) | striptags }}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ ez_render_field( modal.valueObject, 'title' ) }}</h4>
                </div>
                <div class="modal-body">
                    {{ ez_render_field( modal.valueObject, 'content' ) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endfor %}