{# XPL_mod #}
{# {{ dump(simplebanner) }}  #}
{% if  simplebanner is defined %}
	{% set smtp_title = '' %}
        {% set smtp_description = '' %}
        {% set kontaktleft = '' %}
        {% set kontaktright = '' %}
        
        
     	{% if not ez_is_field_empty( simplebanner.valueObject, 'simplebanner_custom_style' ) %}
    {% set simplebanner_custom_style = ez_field_value(simplebanner.valueObject,'simplebanner_custom_style').text %}
{% else %}
    {% set simplebanner_custom_style = '' %}
{% endif %}
    

    
    
        
	{% if not ez_is_field_empty( simplebanner.valueObject, 'smtp_title' ) %}
    {% set smtp_title = ez_field_value(simplebanner.valueObject,'smtp_title').text %}
{% endif %}
        {% if not ez_is_field_empty( simplebanner.valueObject, 'smtp_description' ) %}
    {% set smtp_description = ez_field_value(simplebanner.valueObject,'smtp_description').text %}
{% endif %}
        {% set kontakt = ez_field_value(simplebanner.valueObject,'kontakt').bool %}
        {% set ischeckout = ez_field_value(simplebanner.valueObject,'ischeckout').bool %}
        
        {% if not ez_is_field_empty( simplebanner.valueObject, 'kontaktleft' ) %}
    {% set kontaktleft = ez_field_value(simplebanner.valueObject,'kontaktleft').text %}
{% endif %}
	
        {% if not ez_is_field_empty( simplebanner.valueObject, 'kontaktright' ) %}
    {% set kontaktright = ez_field_value(simplebanner.valueObject,'kontaktright').text %}
{% endif %}
       
<div class="row">
 
	<div class="simplebanner col-lg-12" {{ simplebanner_custom_style |raw }}>
     {% if not ez_is_field_empty( simplebanner.valueObject, 'image' ) %}
    <div class="simple-background-image row">
    {{ ez_render_field( simplebanner.valueObject, 'image' ) }}
{% else %}
{% endif %}
      </div>{% if ischeckout %}
    <div class="smtp-caption"  {% if ischeckout %} style="padding:0;" {% endif %}>

    {% include "TuteiBaseBundle::checkoutSimpleBanner.html.twig" %}
{% endif %}
        {% if kontakt %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p>{{ kontaktleft | raw }} </p>
            </div>
            <div class="col-lg-5 hidden-xs">
                <p>{{ kontaktright | raw }} </p>
            </div>
            </div>
    </div>
{% endif %}
        {% if kontakt == false %}
    <!--<div class="container" style="margin-top:100px;">-->
    <div class=" row">
        <div class="col-lg-7">
            <p style="font-size:30px;">{{ smtp_title | raw }} </p>

            <p style="font-size: 19px; color:#828282">{{ smtp_description }}</p>
        </div>
        <div class="col-lg-5 img-right">
            {% if not ez_is_field_empty( simplebanner.valueObject, "add_image" ) %}
                <div class=" smtp-image-holder">{{ ez_render_field( simplebanner.valueObject, 'add_image' ) }}</div>
            {% endif %}
        </div>
    </div><!--</div>-->
{% endif %}
</div></div>
        
    
     </div></div>
     <div style="clear:both;"></div>
{% endif %}