{# XPL_mod #}
<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300&subset=latin,latin-ext,cyrillic-ext'
      rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tuteibase/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" id="theme" type="text/css" href="{{ asset('bundles/tuteibase/css/bootstrap-theme.min.css') }}"/>
<link rel="stylesheet" id="theme" type="text/css" href="{{ asset('bundles/tuteibase/css/simple-slider.css') }}"/>
<link rel="stylesheet" id="theme" type="text/css" href="{{ asset('bundles/tuteibase/css/simple-slider-volume.css') }}"/>


<!-- Include all compiled plugins (below), or include individual files as needed -->
{% stylesheets
"bundles/tuteibase/css/font-awesome.min.css"
"bundles/tuteibase/css/lightbox.css"
"@TuteiBaseBundle/Resources/public/css/core.css"
"@TuteiBaseBundle/Resources/public/css/content.css"
"@TuteiBaseBundle/Resources/public/css/pagelayout.css"
"@TuteiBaseBundle/Resources/public/css/tooltipster.css"
"@TuteiBaseBundle/Resources/public/css/tooltipster-noir.css"
"@TuteiBaseBundle/Resources/public/css/jquery.steps.css"
"@TuteiBaseBundle/Resources/public/css/main.css"
"@TuteiBaseBundle/Resources/public/css/normalize.css"
"@TuteiBaseBundle/Resources/public/css/jqx.base.css"
"@TuteiBaseBundle/Resources/public/css/jqx.arctic.css"
"@TuteiBaseBundle/Resources/public/css/jssor.css"
"@TuteiBaseBundle/Resources/public/css/custom.css"
filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>

{% endstylesheets %}