{# XPL_mod #}
{% javascripts
"@TuteiBaseBundle/Resources/public/js/vendor/jquery/*"
"@TuteiBaseBundle/Resources/public/js/vendor/angular/*"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/demos.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxcore.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxslider.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxtabs.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxbuttons.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxcheckbox.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxscrollbar.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxlistbox.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxscrollbar.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxpanel.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxvalidator.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxpanel.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/globalize.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxcalendar.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxdatetimeinput.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxmaskedinput.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jqwidgets/jqxinput.js"
"@TuteiBaseBundle/Resources/public/js/vendor/bootstrap.min.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jssor.js"
"@TuteiBaseBundle/Resources/public/js/vendor/jssor.slider.js"
"@TuteiBaseBundle/Resources/public/js/vendor/lightbox-2.6.min.js"
"@TuteiBaseBundle/Resources/public/js/vendor/simple-slider.min.js"
"@eZDemoBundle/Resources/public/js/hinclude.js"

"@TuteiBaseBundle/Resources/public/js/project.js"
"@TuteiBaseBundle/Resources/public/js/slideshow.js"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{# <script src="https://code.jquery.com/jquery.js"></script> #}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>

    function prepareList() {
        $('.flipflopul').find('li:has(ul)')
                .click(function (event) {
                    if (this == event.target) {
                        $(this).children('ul').addClass('xpl_unstyled');
                        $(this).toggleClass('expanded');
                        $(this).children('ul').toggle('medium');
                    }
                    return false;
                })
                .addClass('collapsed')
                .children('ul').hide();
    }
    ;


    $(document).ready(function () {


    });


    $('.tooltip').tooltipster();
    $('.targetDiv').hide();
    $('.dash').show();
    $(function () {
        $('.showSingle').click(function () {
            var id = '#' + $(this).attr('title'),
                    $images = $(id).find('img'),
                    $dialog = $(id).find('.modal-dialog');
            $('.modal').modal('hide');
            $.each($images, function () {
                console.log($(this));
                console.log($(this).css('width') + ' ' + $(id).css('width'));
                if (parseInt($(this).css('width')) > parseInt($dialog.css('width'))) {
                    $(this).css({'width': '100%', 'height': 'auto'});
                }
            });
            $(id).modal('show');
//						 $('.targetDiv').hide();
//						 $('.initial').hide();
//					 	$('#div_'+$(this).attr('title')).fadeIn( "1600", function() {
//    					Animation complete
//  						});
        });

        $("p.toggle-select-me").click(function () {
            $(this).next().toggle();
        });
    });


    $(window).load(function () {
        // front page
        var temp_fpright = document.getElementById('fpright1');
        if (temp_fpright != null) {
            var elem0 = document.getElementById('fpright1').offsetHeight;
            var elem1 = document.getElementById('fprowsid1').offsetHeight;
            var elem2 = document.getElementById('fprowsid2').offsetHeight;
            var elem3 = document.getElementById('fprowsid3').offsetHeight;
            var elem4 = document.getElementById('fprowsid4').offsetHeight;
            var elem5 = document.getElementById('fprowsid5').offsetHeight;
            // what is smpt
            var elem = elem0 + elem1 + elem2 + elem3 + elem4 + elem5;
            document.getElementById("left-column").style.height = elem + 'px';
        }
        var temp_hvad_right = document.getElementById('hvad_right');
        if (temp_hvad_right != null) {
            var hvad1 = document.getElementById('hvad_right').offsetHeight;
            var hvad2 = document.getElementById('hvad_left').offsetHeight;
            var hvad3 = hvad2 - hvad1;
            console.debug('hvad_right' + hvad1);
            console.debug('hvad_left' + hvad2);
            document.getElementById("hvad_transp").style.height = hvad3 + 'px';
        }
        // features
        $('.mmm').equalHeights();
        $('.mmm').css("overflow", "visible")


        var functionerFirstCol = Math.max($('#function_left1').height(), $('#function_right1').height());
        $('.functioner_first').height(functionerFirstCol);

        // end height match


        /*
        {# polling for the daily mail counter START #} */
        //////////////////////////////////
        function update_lmc_field() {
            var daily_mail_counter = $.ajax({
                url: "/load_mail_counter_html",
                type: "GET",
                async: false
            }).responseText;

            if (daily_mail_counter.length > 10) {
                $("#live_mail_counter").fadeOut().hide().html(daily_mail_counter).fadeIn('slow');
                $("#live_mail_counter_description").fadeOut().hide().fadeIn('slow');
                return true;
            }
            else return false;
        };
        //Exec once, and then set timeout
        //Only show the entire paragraf pf the counter if the first read was successfull
        if (update_lmc_field()) {
            $("#live_mail_counter").css("visibility", "visible").css('display', 'inline-block').hide().fadeIn('slow');
            $("#live_mail_counter_description").css("visibility", "visible").hide().fadeIn('slow');
        }
        //////////////////////////////////
        (function poll() {
            setTimeout(function () {
                update_lmc_field();
                //Setup the next poll recursively
                poll();
            }, 15000);
        })();
        /*
        {# polling for the daily mail counter STOP #}*/
    });

    /*{# ANGULAR XS APP START #}*/
    //XPL_PATCH START angular xsmtpdk storage service
    var xs_angular_app = angular.module('xsmtpdk', ['ngCookies']);  //loaded ngCookies module
    xs_angular_app.factory("XSstorage", ["$cookieStore", "$rootScope", function ($cookieStore, $rootScope) {

        return {
            init: function () {
                xs_storage = $cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')xs_storage = {};
            },
            //get property (what) from the xsmtpdk cookie that stores an JSON of the xs_storage object
            get: function (what) {
                /* //old way
                 if(!$cookies.hasOwnProperty('xsmtpdk'))return false;
                 xs_storage=angular.fromJson($cookies.xsmtpdk);
                 if(!xs_storage.hasOwnProperty(what))return false;
                 else return xs_storage[what];
                 */

                //xs_storage = $cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')$cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')xs_storage = {};
                var to_return = xs_storage;
                return to_return[what];
            },
            //set property (key) with value (value) in the xsmtpdk cookie stored as a JSON of the xs_storage object
            set: function (key, value) {
                /* //old way
                 xs_storage={};
                 if($cookies.hasOwnProperty('xsmtpdk'))xs_storage=angular.fromJson($cookies.xsmtpdk);
                 xs_storage[key]=value;
                 //XPL_DEBUG
                 console.debug("XS setting "+key+" => "+value+" / Current XSstorage below: ");
                 console.debug(xs_storage);
                 //\\//
                 $cookies.xsmtpdk = angular.toJson(xs_storage);
                 return true;
                 */

                //if (typeof $rootScope.xs_storage == 'undefined')$rootScope.xs_storage = $cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')$cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')xs_storage = {};
                xs_storage[key] = value;
                $cookieStore.put('xsmtpdk', xs_storage);
                console.debug("XS setting " + key + " => " + value + " / Current XSstorage below: ");
            },

            //remove property (key) with value (value) in the xsmtpdk cookie stored as a JSON of the xs_storage object
            remove: function (key) {
                if (typeof xs_storage == 'undefined')$cookieStore.get('xsmtpdk');
                if (typeof xs_storage == 'undefined')xs_storage = {};
                if (xs_storage.hasOwnProperty(key))delete xs_storage[key];
            },

            triggerEvent: function (eventName) {
                $rootScope.$broadcast(eventName);
                console.debug('event trigered: ' + eventName);
            }

        };

    }]);
    //Global xs_storage variable, do not touch, and always init
    var xs_storage = {};
    angular.injector(['ng', 'xsmtpdk']).invoke(function (XSstorage) {
        XSstorage.init();
    });

    //XPL_PATCH STOP angular xsmtpdk storage service
    /*{# ANGULAR XS APP STOP #}*/

</script>
<script type="text/javascript">(function ($) {
        $.fn.xpl_slider_mod = function (simple_slider_cfg) {
            var curr_el_id = this.attr('id');
            currency = this.data('currency'),
                    left = this.data('long') ? -169 : -86;
            //var slider_cfg_copy=simple_slider_cfg;
            //the tooltip div html variable

            var dragger_tooltip = $('<div class="dragger-tooltip"><p><span class="dragger-tooltip-s1"></span><span>stk</span><span class="dragger-tooltip-s2"> for </span><span class="dragger-tooltip-s3"></span><span>' + currency + '</span></p></div>').css({
                position: 'absolute',
                top: 26,
                left: left
            })
            //Activate the slider
            $("#" + curr_el_id).simpleSlider(simple_slider_cfg);
            //Set the initial value
            $("#" + curr_el_id).simpleSlider("setValue", simple_slider_cfg.value);
            $("#" + curr_el_id).simpleSlider("setRatio", (simple_slider_cfg.allowedValues.indexOf(simple_slider_cfg.value) / simple_slider_cfg.allowedValues.length)); //set ratio from 0 to 1
            //Show the tooltip, with something
            $("#" + curr_el_id + "-slider").find('.dragger').html(dragger_tooltip).show();
            $("#" + curr_el_id + "-slider").find('.dragger-tooltip-s1').html(simple_slider_cfg.value);
            var priceVal = simple_slider_cfg.priceValues[simple_slider_cfg.allowedValues.indexOf(simple_slider_cfg.value)]
            $("#" + curr_el_id + "-slider").find('.dragger-tooltip-s3').html(priceVal);
            $("#buffer_emails_value").val(simple_slider_cfg.value);

            //Bind the slider:changed event
            $("#" + curr_el_id).bind("slider:changed", function (event, data) {
                var intVal = parseInt(data.value); //MANDATORY TYPECAST TO INTEGER OTHERWISE JS SUCKS (AND uses a string array)
                $("#" + curr_el_id + "-slider").find('.dragger').html(dragger_tooltip).show();
                $("#" + curr_el_id + "-slider").find('.dragger-tooltip-s1').html(intVal);
                var slider_index = simple_slider_cfg.allowedValues.indexOf(intVal.toString());
                var priceVal = simple_slider_cfg.priceValues[slider_index];
                $("#" + curr_el_id + "-slider").find('.dragger-tooltip-s3').html(priceVal);
                //Update and trigger change on #buffer_emails input value
                $("#buffer_emails_value").val(intVal);
                $("#buffer_emails_value").trigger("change");

                //Angular BufferEmails update START
                /*
                 angular.injector(['ng', 'xsmtpdk']).invoke(function (XSstorage) {
                 XSstorage.set('chosen_buffer_emails',data.value);
                 });
                 var scope = angular.element(document.getElementById("checkoutSimpleBanner")).scope();
                 scope.$apply(function () {
                 scope.UpdateBanner();
                 });
                 */
                //Angular BufferEmails update STOP

            });
        };
    })(jQuery);
    var xs_bufferslider_init = function (bufferValues, bufferPrices, preselectedValue) {
        if (preselectedValue == 0)preselectedValue = bufferValues[0];
        if ($('#drag-slider-1')) {
            $("#drag-slider-1").xpl_slider_mod({
                allowedValues: bufferValues, //do not change the property name allowedValues
                priceValues: bufferPrices,
                value: preselectedValue,
                //step	: 5000,
                //snap	: false,
            });
        }
    }
</script>