{% for block in blocks %}
    <table width="100%" border="0" cellspacing="0" cellpadding="2" summary="" style="width: 100%;" class="table block">
        <tbody>
        <tr class="white">
            <td colspan="6" valign="top" class="td_title" style="vertical-align: top;">

                <p>{{ ez_render_field( block.valueObject, 'title' ) | raw }} </p>
            </td>
            <td width="0" valign="top" class="td_header" style="vertical-align: top;">
                <p align="center"></p></td>
            <td valign="top" style="vertical-align: top;">
            </td>
            <td valign="top" style="vertical-align: top;">
            </td>
        </tr>
        <tr class="white no-border">
            <td colspan="7" valign="top" class="td_name" style="vertical-align: top !important">
                <p><span class="subtext">{{ ez_render_field( block.valueObject, 'header' ) }}</span> &nbsp; </p>
            </td>
            <td valign="top" style="vertical-align: top !important;">
                <p ng-if="!userloggedin" align="center">
                    <a ng-click="storeXS(asubsc)" data-price="0" class="btn btn-lg btn-primary" target="_self"
                       href="/Checkout">{{ 'Læs mere og se priser'|trans|upper }} »</a>
                </p>
            </td>
            <td valign="top" style="vertical-align: top;">
            </td>
        </tr>
        <tr class="white no-border">
            <td colspan="7" valign="top" class="td_name" style="vertical-align: top !important;">
                <table class="table priser-checkboxes" border="0" cellpadding="2" cellspacing="0" width="100%" style="width: 100%;
        " summary="">
                    <tbody>
                    <tr>
                        <td valign="top"
                            style="vertical-align: top;">{{ ez_render_field( block.valueObject, 'left_list' ) }}</td>
                        <td valign="top"
                            style="vertical-align: top;">{{ ez_render_field( block.valueObject, 'right_list' ) }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td valign="top" style="vertical-align: top;">

            </td>
            <td valign="top" style="vertical-align: top;">

            </td>
        </tr>
        <tr class="white no-border">
            <td colspan="7" valign="top" class="td_name" style="vertical-align: top !important;">
                <p><span class="subtext">{{ ez_render_field( block.valueObject, 'footer' ) }}</span> &nbsp; </p>
            </td>
            <td valign="top" style="vertical-align: top;">

            </td>
            <td valign="top" style="vertical-align: top;">

            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}