{# XPL_mod #}
{# XPL_PATCH locale initialisation #}
{% set current_siteaccess = ezpublish.siteaccess.name %}
{% set current_language = siteaccess[current_siteaccess].locale %}
{# // #}
            
{% if  banners[0] is defined %}
    {% for item in banners[0].searchHits %}
        {% if not ez_is_field_empty( item.valueObject, "multibanner_custom_class" ) %}
            {% set multibanner_custom_class = ez_field_value(item.valueObject,'multibanner_custom_class').text %}
        {% endif %}

        <div id="carousel-example-generic" class="carousel slide {{ multibanner_custom_class }}" data-ride="carousel">
    {% endfor %}
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for item in banners[0].searchHits %}
            <li data-target="#carousel-example-generic"
                data-slide-to="{{ loop.index-1 }}"{% if loop.index-1==0 %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for item in banners[0].searchHits %}

            {% set issmtp = ez_field_value(item.valueObject,'issmtp').bool %}
            {% set ispriser = ez_field_value(item.valueObject,'ispriser').bool %}
            {% set issupport = ez_field_value(item.valueObject,'is_support').bool %}
            {% set left_smtp_banner = ez_field_value(item.valueObject,'left_smtp_banner').text %}
            {% set right_smtp_banner = ez_field_value(item.valueObject,'right_smtp_banner').text %}

            {% if not ez_is_field_empty( item.valueObject, 'left_support_banner' ) %}
                {% set left_support_banner = ez_field_value(item.valueObject,'left_support_banner').text %}
            {% endif %}
            {% if not ez_is_field_empty( item.valueObject, 'right_support_banner' ) %}
                {% set right_support_banner = ez_field_value(item.valueObject,'right_support_banner').text %}
            {% endif %}

            {% set newWindow = ez_field_value(item.valueObject,'new_window').bool %}

            {% set link = '' %}

            {% if not ez_is_field_empty( item.valueObject, "link_object" ) %}
                {% set link = path(relation_list[ez_field_value(item.valueObject,'link_object').destinationContentId]) %}
            {% elseif not ez_is_field_empty( item.valueObject, "link_external" ) %}
                {% set link = ez_field_value(item.valueObject, 'link_external').link %}
            {% endif %}

            {% set h2 = ez_field_value(item.valueObject,'h2').text %}
            {% set h3 = ez_field_value(item.valueObject,'h3').text %}

            {% if not ez_is_field_empty( item.valueObject, "priser_checks_1" ) %}
                {% set priser_checks_1 = ez_field_value(item.valueObject,'priser_checks_1').text %}
            {% endif %}
            {% if not ez_is_field_empty( item.valueObject, "priser_checks_2" ) %}
                {% set priser_checks_2 = ez_field_value(item.valueObject,'priser_checks_2').text %}
            {% endif %}
            {% if not ez_is_field_empty( item.valueObject, "carousel_caption_position" ) %}
                {% set carousel_caption_position = ez_field_value(item.valueObject,'carousel_caption_position').text %}
            {% endif %}


            <div class="item{% if loop.index-1==0 %} active{% endif %}">


                {% if not ez_is_field_empty( item.valueObject, "image" ) %}
                <div class="attribute-image">
                    <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>
                        {{ ez_render_field(item.valueObject, 'image', {

                            attr:{ class:'block_item' }
                        }
                        ) }} </a>
                    {% else %}
                    {% endif %}
                    <div class="carousel-caption"
                         style="width:100%; text-align: left; left:16px; {{ carousel_caption_position }}">
                        <div class="container">
                            <div class="col-lg-12">

                                {# smtp page #}
                                {% if issmtp %}
                                    {% if right_smtp_banner %}
                                        <div class="col-lg-6">{{ left_smtp_banner | raw }}</div>
                                        <div class="col-lg-6">{{ right_smtp_banner | raw }}</div>
                                    {% else %}
                                        <div class="smtp-row" style="width:100%">{{ left_smtp_banner | raw }}</div>
                                    {% endif %}
                                {% endif %}
                                {# / smtp page #}
                                {# priser page #}
                                {% if ispriser %}
                                    {% if right_smtp_banner %}
                                        <div class="col-lg-3">{{ left_smtp_banner | raw }}</div>
                                        <div class="col-lg-3 ">{{ right_smtp_banner | raw }}</div>
                                    {% else %}
                                        <div class="col-lg-6 smtp-row">{{ left_smtp_banner | raw }}</div>
                                    {% endif %}
                                    <div class="col-lg-3 priser-checkboxes">{{ priser_checks_1 | raw }}</div>
                                    <div class="col-lg-3 priser-checkboxes">{{ priser_checks_2 | raw }}</div>
                                {% else %}
                                {% endif %}
                                {# / preiser page #}
                                {# support page #}
                                {% if issupport %}
                                    {% if right_smtp_banner %}
                                        <div class="col-lg-3">{{ left_support_banner | raw }}</div>
                                        <div class="col-lg-3">{{ right_smtp_banner | raw }}</div>
                                    {% else %}
                                        <div class="col-lg-6 smtp-row">{{ left_support_banner | raw }}</div>
                                    {% endif %}

                                    <div class="col-lg-6 smtp-row">{{ right_support_banner | raw }}</div>
                                {% endif %}
                                {# / support page #}
                                {% if not ez_is_field_empty( item.valueObject, "smtp_image" ) %}
                                    <div class=" smtp-image-holder">{{ ez_render_field( item.valueObject, 'smtp_image' ) }}</div>

                                {% endif %}

                                <h2 style="">{{ h2 }}</h2>

                                <h3 style="">{{ h3 }}</h3>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="carousel-caption">
        {{ ez_render_field( item.valueObject, 'title' ) }}
      </div>-->

            </div>
        {% endfor %}
    </div>

    <!-- Controls -->

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="carousel-left">
        {% image '@TuteiBaseBundle/Resources/public/images/pager-left.png' %}
        <img src="{{ asset_url }}" alt="image"/>
        {% endimage %}
    </span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="carousel-right">
       {% image '@TuteiBaseBundle/Resources/public/images/pager-right.png' %}

        <img src="{{ asset_url }}" alt="image"/>

        {% endimage %}
   </span>
    </a>

    <div class="carousel-check-holder">
        <div class="container">
            <div class="col-xs-6 xpl-check-row">
                <div class="row">
                    <div class="xpl-check">{{ 'works anywhere in the world'|trans|capitalize }} </div>
                    <div class="xpl-check">{{ 'lightning-fast mail servers'|trans|capitalize }}</div>
                </div>
                <div class="row">
                    <div class="xpl-check">{{ 'works in all email programs'|trans|capitalize }}</div>
                    <div class="xpl-check">{{ 'telephone and email support'|trans|capitalize }}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="padding: 15px 7px; text-align:right;">

                    <a class="btn btn-lg btn-primary" role="button"
                       href="{{ render(controller('xsmtpdk_controller:urltranslator', { 'url' : '/Priser', 'language' : current_language })) }}">{{ 'buy now'|trans|upper }}
                        »</a>
                    <a class="btn btn-lg btn-warning" role="button"
                       href="{{ render(controller('xsmtpdk_controller:urltranslator', { 'url' : '/Priser', 'language' : current_language })) }}">{{ 'try free'|trans|upper }}
                        »</a>

                </div>
            </div>
        </div>
    </div></div>

{% endif %}