{# XPL_mod #}
{# XPL_PATCH locale initialisation #}
{% set current_siteaccess = ezpublish.siteaccess.name %}
{% set current_language = siteaccess[current_siteaccess].locale %}
{# // #}
{# includes items with priority higher than 100
   TODO: create settings for this, like class filter  #}

<!--<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/bootstrap-theme.min.css') }}">Default</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/amelia/theme.css') }}">Amelia</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cerulean/theme.css') }}">Cerulean</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cosmo/theme.css') }}">Cosmo</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/cyborg/theme.css') }}">Cyborg</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/dark/theme.css') }}">Dark</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/flatly/theme.css') }}">Flatly</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/geo/theme.css') }}">Geo</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/journal/theme.css') }}">Journal</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/readable/theme.css') }}">Readable</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/red/theme.css') }}">Red</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/simplex/theme.css') }}">Simplex</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/slate/theme.css') }}">Slate</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/spacelab/theme.css') }}">Spacelab</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/united/theme.css') }}">United</a>
        </li>
        <li>
            <a href="#" data-theme="{{ asset('bundles/tuteibase/css/themes/yeti/theme.css') }}">Yeti</a>
        </li>
    </ul>
</li>-->

{% for item in list.searchHits %}
    <li>{{ render(
        controller(
        'ez_content:viewLocation',
        {
            'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
            'viewType': 'menu_item'
        }
        )
        ) }}</li>
{% endfor %}


{% if current_user.login != 'anonymous' %}
    <li><a href="{{ "/logout" }}">{{ 'logout'|trans|capitalize }}</a></li>
    {# XPL_PATCH display Dashboard link instead of Change profile #}
    {# <li><a href="{{ "/content/edit/" ~ current_user.content.versionInfo.contentInfo.id }}">{{ 'Change profile'|trans }} ( {{ current_user.login }} )</a></li> #}
    <li><a href="/Dashboard">Dashboard</a></li>
    {# / #}
{% else %}
    <li class="dropdown xpl_dropdown">

        <a href="{{ "/login" }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'customer login'|trans|capitalize }}
            <!--<span class="caret">--><!--<span class="round"></span>--></a>
        <ul class="dropdown-menu pull-right xpl_login">
            <li>
                <div class="navbar-form">

                    <form action="{{ path( 'login_check' ) }}" method="post">

                        <div>
                            <div style="line-height: 25px;width: 108px;float: left;">
                                <label for="id1">{{ 'Admin E-mail' |trans }}</label></div>
                            <input type="text" autocomplete="off" tabindex="1" value="" id="id1" name="_username"
                                   size="12" class="halfbox" style="float:right;">
                        </div>
                        <div style="clear:both; height:5px;"></div>
                        <div>
                            <div style="line-height: 25px;width: 108px;float: left;">
                                <label for="id2">Password</label></div>
                            <input type="password" autocomplete="off" tabindex="1" value="" id="id2" name="_password"
                                   size="12" class="halfbox" style="float:right;">
                        </div>
                        <div style="clear:both; height:5px;"></div>
                        <div style="width: 120px;float: left;">
                            <a href="#"
                               style=" color:#aaaaaa; font-weight:normal; margin:0 !important; padding:0 !important; font-size:12px;">>
                                forgot password?</a><br/>
                            <a href="{{ render(controller('xsmtpdk_controller:urltranslator', { 'url' : '/Priser', 'language' : current_language })) }}"
                               style=" color:#aaaaaa; font-weight:normal; margin:0 !important; padding:0 !important; font-size:12px;">>
                                not registered yet?</a>
                        </div>
                        <div class="buttonblock" style="text-align:right;">
                            <input type="submit" tabindex="1" value="{{ 'login'|trans|capitalize }}" name="LoginButton"
                                   class="defaultbutton" style="margin-top:5px;">
                            <!--<input type="submit" tabindex="1" value="Sign Up" name="RegisterButton" class="button">-->


                        </div>

                        <input type="hidden" value="" name="RedirectURI">
                    </form>

                </div>


            </li>
        </ul>
    </li>
    <!--<li><a href={{ "/user/register" }}>{{ 'Register'|trans }}</a></li>-->
{% endif %}

