{% extends "DSAdminBundle::clean.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="box">
                    <div class="box-content">
                        <h4>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
