<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="box">
        <div class="box-content">

            <div class="text-center">
                <h3 class="page-header">Reset Password</h3>
            </div>

            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                {{ form_errors(form.new.first) }}
                {{ form_widget(form.new.first, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <label for="password-confirm" class="control-label">Repeat Password</label>
                {{ form_errors(form.new.second) }}
                {{ form_widget(form.new.second, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="text-center">
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</form>
