{# XPL_MOD created from DemoBundle #}
{% extends layout %}

{% block content %}
    {% block login_content %}
        <div class="page-header">
            <h1>{{ 'login'|trans|capitalize }}</h1>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.message|trans }}</div>
        {% endif %}

        <form action="{{ path( 'login_check' ) }}" method="post" role="form">
            {% block login_fields %}
                <fieldset>
                    <div class="form-group">
                        <label for="username">{{ 'username'|trans|capitalize }}:</label>
                        <input type="text" id="username" class="form-control" name="_username"
                               value="{{ last_username }}" required="required" autofocus="autofocus" autocomplete="on"
                               placeholder="{{ 'Enter login or email'|trans }}"/>
                    </div>
                    <div class="form-group{% if error %} has-error{% endif %}">
                        <label for="password">{{ 'password'|trans|capitalize }}:</label>
                        <input type="password" id="password" class="form-control" name="_password" required="required"
                               placeholder="{{ 'Enter password'|trans }}"/>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}
                    <button type="submit" class="btn btn-primary">{{ 'login'|trans|capitalize }}</button>
                </fieldset>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
